In [1]:
import pandas as pd

##2023 August vs WI

### ODI-1

In [2]:
ind_wi_1 = pd.read_html('https://www.espncricinfo.com/series/india-in-west-indies-2023-1381201/west-indies-vs-india-1st-odi-1381214/full-scorecard')
ind_wi_1[1] = pd.DataFrame(ind_wi_1[1])

In [ ]:
ind_wi_1[1]

In [4]:
rows_to_drop = [1, 3, 5, 7, 10]
ind_wi_1[1] = ind_wi_1[1].drop(rows_to_drop)
ind_wi_1[1]

           BOWLING  O  M   R  W  ECON  0s 4s 6s WD NB Unnamed: 11
0    Hardik Pandya  3  0  17  1  5.66  13  2  1  0  0         NaN
2     Mukesh Kumar  5  1  22  1  4.40  21  3  0  2  0         NaN
4   Shardul Thakur  3  1  14  1  4.66  11  2  0  1  0         NaN
6  Ravindra Jadeja  6  0  37  3  6.16  18  2  1  2  2         NaN
8      Umran Malik  3  0  17  0  5.66  10  3  0  0  0         NaN
9    Kuldeep Yadav  3  2   6  4  2.00  15  0  0  0  0         NaN

In [181]:
ind_wi_1[1] = ind_wi_1[1].drop(["Unnamed: 11"],axis=1)
ind_wi_1[1]

           BOWLING  O  M   R  W  ECON  0s 4s 6s WD NB
0    Hardik Pandya  3  0  17  1  5.66  13  2  1  0  0
2     Mukesh Kumar  5  1  22  1  4.40  21  3  0  2  0
4   Shardul Thakur  3  1  14  1  4.66  11  2  0  1  0
6  Ravindra Jadeja  6  0  37  3  6.16  18  2  1  2  2
8      Umran Malik  3  0  17  0  5.66  10  3  0  0  0
9    Kuldeep Yadav  3  2   6  4  2.00  15  0  0  0  0

In [ ]:
ind_wi_1[2]

In [6]:
ind_wi_1[2] = pd.DataFrame(ind_wi_1[2])
rows_to_drop = [1, 3, 5, 7, 10, 12, 14, 15, 13]
ind_wi_1[2] = ind_wi_1[2].drop(rows_to_drop)
ind_wi_1[2] = ind_wi_1[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_wi_1[2]

             BATTING           Unnamed: 1   R   B 4s 6s      SR
0     Ishan Kishan †     c Powell b Motie  52  46  7  1  113.04
2       Shubman Gill      c King b Seales   7  16  1  0   43.75
4   Suryakumar Yadav          lbw b Motie  19  25  3  1   76.00
6      Hardik Pandya     run out (Cariah)   5   7  0  0   71.42
8    Ravindra Jadeja              not out  16  21  1  0   76.19
9     Shardul Thakur  c Athanaze b Cariah   1   4  0  0   25.00
11  Rohit Sharma (c)              not out  12  19  2  0   63.15

### ODI-2

In [7]:
ind_wi_2 = pd.read_html('https://www.espncricinfo.com/series/india-in-west-indies-2023-1381201/west-indies-vs-india-2nd-odi-1381215/full-scorecard')

In [8]:
ind_wi_2[0] = pd.DataFrame(ind_wi_2[0])
ind_wi_2[3] = pd.DataFrame(ind_wi_2[3])

In [ ]:
ind_wi_2[0]

In [10]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 15, 18, 20, 21, 22, 23]
ind_wi_2[0] = ind_wi_2[0].drop(rows_to_drop)
ind_wi_2[0] = ind_wi_2[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_wi_2[0]

              BATTING             Unnamed: 1   R   B 4s 6s      SR
0      Ishan Kishan †  c Athanaze b Shepherd  55  55  6  1  100.00
2        Shubman Gill       c Joseph b Motie  34  49  5  0   69.38
4        Sanju Samson        c King b Cariah   9  19  0  0   47.36
6          Axar Patel     c †Hope b Shepherd   1   8  0  0   12.50
8   Hardik Pandya (c)        c King b Seales   7  14  0  0   50.00
10   Suryakumar Yadav     c Athanaze b Motie  24  25  3  0   96.00
12    Ravindra Jadeja    c Cariah b Shepherd  10  21  0  0   47.61
14     Shardul Thakur           lbw b Joseph  16  22  2  0   72.72
16      Kuldeep Yadav                not out   8  23  1  0   34.78
17        Umran Malik       c Carty b Joseph   0   2  0  0    0.00
19       Mukesh Kumar      c Hetmyer b Motie   6   7  1  0   85.71

In [ ]:
ind_wi_2[3]

In [12]:
rows_to_drop = [4, 6]
ind_wi_2[3] = ind_wi_2[3].drop(rows_to_drop)
ind_wi_2[3]

           BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB Unnamed: 11
0    Hardik Pandya  6.4  0  38  0  5.70  22  4  1  1  0         NaN
1     Mukesh Kumar    3  0  17  0  5.66  12  3  0  0  0         NaN
2      Umran Malik    3  0  27  0  9.00   9  3  1  1  0         NaN
3   Shardul Thakur    8  0  42  3  5.25  26  2  2  2  0         NaN
5    Kuldeep Yadav    8  0  30  1  3.75  25  1  0  1  0         NaN
7  Ravindra Jadeja    6  0  24  0  4.00  17  0  0  0  0         NaN
8       Axar Patel    2  1   4  0  2.00   8  0  0  0  0         NaN

### ODI-3

In [13]:
ind_wi_3 = pd.read_html('https://www.espncricinfo.com/series/india-in-west-indies-2023-1381201/west-indies-vs-india-3rd-odi-1381216/full-scorecard')

In [14]:
ind_wi_3[0] = pd.DataFrame(ind_wi_3[0])
ind_wi_3[3] = pd.DataFrame(ind_wi_3[3])

In [ ]:
ind_wi_3[0]

In [16]:
rows_to_drop = [1, 3, 5, 7, 10, 12, 13, 14, 15]
ind_wi_3[0] = ind_wi_3[0].drop(rows_to_drop)
ind_wi_3[0] = ind_wi_3[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_wi_3[0]

              BATTING            Unnamed: 1   R   B  4s 6s      SR
0      Ishan Kishan †     st †Hope b Cariah  77  64   8  3  120.31
2        Shubman Gill      c Cariah b Motie  85  92  11  0   92.39
4     Ruturaj Gaikwad       c King b Joseph   8  14   1  0   57.14
6        Sanju Samson  c Hetmyer b Shepherd  51  41   2  4  124.39
8   Hardik Pandya (c)               not out  70  52   4  5  134.61
9    Suryakumar Yadav   c Cariah b Shepherd  35  30   2  2  116.66
11    Ravindra Jadeja               not out   8   7   0  0  114.28

In [ ]:
ind_wi_3[3]

In [18]:
rows_to_drop = [1, 4, 6, 8]
ind_wi_3[3] = ind_wi_3[3].drop(rows_to_drop)
ind_wi_3[3]

           BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB Unnamed: 11
0     Mukesh Kumar    7  1  30  3  4.28  33  2  1  4  2         NaN
2    Hardik Pandya    4  1  13  0  3.25  18  2  0  0  0         NaN
3   Shardul Thakur  6.3  0  37  4  5.69  23  5  1  0  0         NaN
5   Jaydev Unadkat    5  0  16  1  3.20  20  2  0  0  0         NaN
7    Kuldeep Yadav    8  3  25  2  3.12  39  3  1  0  0         NaN
9  Ravindra Jadeja    5  1  29  0  5.80  21  3  2  0  0         NaN

####Concat WI

In [185]:
concat_wi_bat = pd.concat([ind_wi_1[2],ind_wi_2[0],ind_wi_3[0]])
concat_wi_bat

              BATTING             Unnamed: 1   R   B  4s 6s      SR
0      Ishan Kishan †       c Powell b Motie  52  46   7  1  113.04
2        Shubman Gill        c King b Seales   7  16   1  0   43.75
4    Suryakumar Yadav            lbw b Motie  19  25   3  1   76.00
6       Hardik Pandya       run out (Cariah)   5   7   0  0   71.42
8     Ravindra Jadeja                not out  16  21   1  0   76.19
9      Shardul Thakur    c Athanaze b Cariah   1   4   0  0   25.00
11   Rohit Sharma (c)                not out  12  19   2  0   63.15
0      Ishan Kishan †  c Athanaze b Shepherd  55  55   6  1  100.00
2        Shubman Gill       c Joseph b Motie  34  49   5  0   69.38
4        Sanju Samson        c King b Cariah   9  19   0  0   47.36
6          Axar Patel     c †Hope b Shepherd   1   8   0  0   12.50
8   Hardik Pandya (c)        c King b Seales   7  14   0  0   50.00
10   Suryakumar Yadav     c Athanaze b Motie  24  25   3  0   96.00
12    Ravindra Jadeja    c Cariah b Shepherd  10  21   0  0   47.61
14     Shardul Thakur           lbw b Joseph  16  22   2  0   72.72
16      Kuldeep Yadav                not out   8  23   1  0   34.78
17        Umran Malik       c Carty b Joseph   0   2   0  0    0.00
19       Mukesh Kumar      c Hetmyer b Motie   6   7   1  0   85.71
0      Ishan Kishan †      st †Hope b Cariah  77  64   8  3  120.31
2        Shubman Gill       c Cariah b Motie  85  92  11  0   92.39
4     Ruturaj Gaikwad        c King b Joseph   8  14   1  0   57.14
6        Sanju Samson   c Hetmyer b Shepherd  51  41   2  4  124.39
8   Hardik Pandya (c)                not out  70  52   4  5  134.61
9    Suryakumar Yadav    c Cariah b Shepherd  35  30   2  2  116.66
11    Ravindra Jadeja                not out   8   7   0  0  114.28

In [187]:
concat_wi_bowl = pd.concat([ind_wi_1[1],ind_wi_2[3],ind_wi_3[3]])
concat_wi_bowl = concat_wi_bowl.drop(["Unnamed: 11"],axis=1)
concat_wi_bowl

           BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0    Hardik Pandya    3  0  17  1  5.66  13  2  1  0  0
2     Mukesh Kumar    5  1  22  1  4.40  21  3  0  2  0
4   Shardul Thakur    3  1  14  1  4.66  11  2  0  1  0
6  Ravindra Jadeja    6  0  37  3  6.16  18  2  1  2  2
8      Umran Malik    3  0  17  0  5.66  10  3  0  0  0
9    Kuldeep Yadav    3  2   6  4  2.00  15  0  0  0  0
0    Hardik Pandya  6.4  0  38  0  5.70  22  4  1  1  0
1     Mukesh Kumar    3  0  17  0  5.66  12  3  0  0  0
2      Umran Malik    3  0  27  0  9.00   9  3  1  1  0
3   Shardul Thakur    8  0  42  3  5.25  26  2  2  2  0
5    Kuldeep Yadav    8  0  30  1  3.75  25  1  0  1  0
7  Ravindra Jadeja    6  0  24  0  4.00  17  0  0  0  0
8       Axar Patel    2  1   4  0  2.00   8  0  0  0  0
0     Mukesh Kumar    7  1  30  3  4.28  33  2  1  4  2
2    Hardik Pandya    4  1  13  0  3.25  18  2  0  0  0
3   Shardul Thakur  6.3  0  37  4  5.69  23  5  1  0  0
5   Jaydev Unadkat    5  0  16  1  3.20  20  2  0  0  0
7    Kuldeep Yadav    8  3  25  2  3.12  39  3  1  0  0
9  Ravindra Jadeja    5  1  29  0  5.80  21  3  2  0  0

##2023 March vs AUS

### ODI-1

In [19]:
ind_aus_1 = pd.read_html('https://www.espncricinfo.com/series/australia-in-india-2022-23-1348637/india-vs-australia-1st-odi-1348656/full-scorecard')

In [20]:
ind_aus_1[1] = pd.DataFrame(ind_aus_1[1])
ind_aus_1[2] = pd.DataFrame(ind_aus_1[2])

In [ ]:
ind_aus_1[1]

In [22]:
rows_to_drop = [1, 3, 5, 8, 10]
ind_aus_1[1] = ind_aus_1[1].drop(rows_to_drop)
ind_aus_1[1]

           BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0   Mohammed Shami    6  2  17  3  2.83  30  1  1  2  0
2   Mohammed Siraj  5.4  1  29  3  5.11  26  7  0  0  0
4    Hardik Pandya    5  0  29  1  5.80  19  2  2  1  0
6   Shardul Thakur    2  0  12  0  6.00   8  1  1  0  0
7  Ravindra Jadeja    9  0  46  2  5.11  27  4  1  0  0
9    Kuldeep Yadav    8  1  48  1  6.00  24  5  1  0  0

In [ ]:
ind_aus_1[2]

In [24]:
rows_to_drop = [1, 3, 5, 7, 10, 12, 13, 14, 15]
ind_aus_1[2] = ind_aus_1[2].drop(rows_to_drop)
ind_aus_1[2] = ind_aus_1[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_aus_1[2]

              BATTING             Unnamed: 1   R   B 4s 6s     SR
0        Ishan Kishan          lbw b Stoinis   3   8  0  0  37.50
2        Shubman Gill  c Labuschagne b Starc  20  31  3  0  64.51
4         Virat Kohli            lbw b Starc   4   9  1  0  44.44
6    Suryakumar Yadav            lbw b Starc   0   1  0  0   0.00
8          KL Rahul †                not out  75  91  7  1  82.41
9   Hardik Pandya (c)      c Green b Stoinis  25  31  3  1  80.64
11    Ravindra Jadeja                not out  45  69  5  0  65.21

### ODI-2

In [25]:
ind_aus_2 = pd.read_html('https://www.espncricinfo.com/series/australia-in-india-2022-23-1348637/india-vs-australia-2nd-odi-1348657/full-scorecard')

In [26]:
ind_aus_2[0] = pd.DataFrame(ind_aus_2[0])
ind_aus_2[3] = pd.DataFrame(ind_aus_2[3])

In [ ]:
ind_aus_2[0]

In [28]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 16, 18, 20, 21, 22, 23]
ind_aus_2[0] = ind_aus_2[0].drop(rows_to_drop)
ind_aus_2[0] = ind_aus_2[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_aus_2[0]

             BATTING             Unnamed: 1   R   B 4s 6s      SR
0   Rohit Sharma (c)        c Smith b Starc  13  15  2  0   86.66
2       Shubman Gill  c Labuschagne b Starc   0   2  0  0    0.00
4        Virat Kohli            lbw b Ellis  31  35  4  0   88.57
6   Suryakumar Yadav            lbw b Starc   0   1  0  0    0.00
8         KL Rahul †            lbw b Starc   9  12  1  0   75.00
10     Hardik Pandya       c Smith b Abbott   1   3  0  0   33.33
12   Ravindra Jadeja       c †Carey b Ellis  16  39  1  0   41.02
14        Axar Patel                not out  29  29  1  2  100.00
15     Kuldeep Yadav        c Head b Abbott   4  17  0  0   23.52
17    Mohammed Shami      c †Carey b Abbott   0   1  0  0    0.00
19    Mohammed Siraj                b Starc   0   3  0  0    0.00

In [29]:
ind_aus_2[3]

          BOWLING  O  M   R  W   ECON  0s  4s  6s  WD  NB
0  Mohammed Shami  3  0  29  0   9.66  11   3   2   3   0
1  Mohammed Siraj  3  0  37  0  12.33   6   8   0   1   0
2      Axar Patel  3  0  25  0   8.33   7   4   0   0   0
3   Hardik Pandya  1  0  18  0  18.00   3   0   3   0   0
4   Kuldeep Yadav  1  0  12  0  12.00   2   1   1   0   0

### ODI-3

In [30]:
ind_aus_3 = pd.read_html('https://www.espncricinfo.com/series/australia-in-india-2022-23-1348637/india-vs-australia-3rd-odi-1348658/full-scorecard')

In [31]:
ind_aus_3[1] = pd.DataFrame(ind_aus_3[1])
ind_aus_3[2] = pd.DataFrame(ind_aus_3[2])

In [ ]:
ind_aus_3[1]

In [33]:
rows_to_drop = [2, 4, 6, 9]
ind_aus_3[1] = ind_aus_3[1].drop(rows_to_drop)
ind_aus_3[1]

           BOWLING   O  M   R  W  ECON  0s 4s 6s WD NB
0   Mohammed Shami   6  0  37  0  6.16  23  4  2  0  0
1   Mohammed Siraj   7  1  37  2  5.28  28  6  1  0  0
3       Axar Patel   8  0  57  2  7.12  24  3  4  0  1
5    Hardik Pandya   8  0  44  3  5.50  24  4  0  1  0
7  Ravindra Jadeja  10  0  34  0  3.40  31  1  0  1  0
8    Kuldeep Yadav  10  1  56  3  5.60  30  4  1  1  0

In [ ]:
ind_aus_3[2]

In [35]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 22, 23]
ind_aus_3[2] = ind_aus_3[2].drop(rows_to_drop)
ind_aus_3[2] = ind_aus_3[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_aus_3[2]

             BATTING                Unnamed: 1   R   B 4s 6s      SR
0   Rohit Sharma (c)          c Starc b Abbott  30  17  2  2  176.47
2       Shubman Gill               lbw b Zampa  37  49  4  1   75.51
4        Virat Kohli           c Warner b Agar  54  72  2  1   75.00
6         KL Rahul †          c Abbott b Zampa  32  50  2  1   64.00
8         Axar Patel    run out (Smith/†Carey)   2   4  0  0   50.00
10     Hardik Pandya           c Smith b Zampa  40  40  3  1  100.00
12  Suryakumar Yadav                    b Agar   0   1  0  0    0.00
14   Ravindra Jadeja         c Stoinis b Zampa  18  33  1  0   54.54
16     Kuldeep Yadav  run out (Stoinis/†Carey)   6  15  0  0   40.00
18    Mohammed Shami                 b Stoinis  14  10  1  1  140.00
20    Mohammed Siraj                   not out   3   5  0  0   60.00

####Concat Aus

In [188]:
concat_aus_bat = pd.concat([ind_aus_1[2],ind_aus_2[0],ind_aus_3[2]])
concat_aus_bat

              BATTING                Unnamed: 1   R   B 4s 6s      SR
0        Ishan Kishan             lbw b Stoinis   3   8  0  0   37.50
2        Shubman Gill     c Labuschagne b Starc  20  31  3  0   64.51
4         Virat Kohli               lbw b Starc   4   9  1  0   44.44
6    Suryakumar Yadav               lbw b Starc   0   1  0  0    0.00
8          KL Rahul †                   not out  75  91  7  1   82.41
9   Hardik Pandya (c)         c Green b Stoinis  25  31  3  1   80.64
11    Ravindra Jadeja                   not out  45  69  5  0   65.21
0    Rohit Sharma (c)           c Smith b Starc  13  15  2  0   86.66
2        Shubman Gill     c Labuschagne b Starc   0   2  0  0    0.00
4         Virat Kohli               lbw b Ellis  31  35  4  0   88.57
6    Suryakumar Yadav               lbw b Starc   0   1  0  0    0.00
8          KL Rahul †               lbw b Starc   9  12  1  0   75.00
10      Hardik Pandya          c Smith b Abbott   1   3  0  0   33.33
12    Ravindra Jadeja          c †Carey b Ellis  16  39  1  0   41.02
14         Axar Patel                   not out  29  29  1  2  100.00
15      Kuldeep Yadav           c Head b Abbott   4  17  0  0   23.52
17     Mohammed Shami         c †Carey b Abbott   0   1  0  0    0.00
19     Mohammed Siraj                   b Starc   0   3  0  0    0.00
0    Rohit Sharma (c)          c Starc b Abbott  30  17  2  2  176.47
2        Shubman Gill               lbw b Zampa  37  49  4  1   75.51
4         Virat Kohli           c Warner b Agar  54  72  2  1   75.00
6          KL Rahul †          c Abbott b Zampa  32  50  2  1   64.00
8          Axar Patel    run out (Smith/†Carey)   2   4  0  0   50.00
10      Hardik Pandya           c Smith b Zampa  40  40  3  1  100.00
12   Suryakumar Yadav                    b Agar   0   1  0  0    0.00
14    Ravindra Jadeja         c Stoinis b Zampa  18  33  1  0   54.54
16      Kuldeep Yadav  run out (Stoinis/†Carey)   6  15  0  0   40.00
18     Mohammed Shami                 b Stoinis  14  10  1  1  140.00
20     Mohammed Siraj                   not out   3   5  0  0   60.00

In [190]:
concat_aus_bowl = pd.concat([ind_aus_1[1],ind_aus_2[3],ind_aus_3[1]])
concat_aus_bowl

           BOWLING    O  M   R  W   ECON  0s 4s 6s WD NB
0   Mohammed Shami    6  2  17  3   2.83  30  1  1  2  0
2   Mohammed Siraj  5.4  1  29  3   5.11  26  7  0  0  0
4    Hardik Pandya    5  0  29  1   5.80  19  2  2  1  0
6   Shardul Thakur    2  0  12  0   6.00   8  1  1  0  0
7  Ravindra Jadeja    9  0  46  2   5.11  27  4  1  0  0
9    Kuldeep Yadav    8  1  48  1   6.00  24  5  1  0  0
0   Mohammed Shami    3  0  29  0   9.66  11  3  2  3  0
1   Mohammed Siraj    3  0  37  0  12.33   6  8  0  1  0
2       Axar Patel    3  0  25  0   8.33   7  4  0  0  0
3    Hardik Pandya    1  0  18  0   18.0   3  0  3  0  0
4    Kuldeep Yadav    1  0  12  0   12.0   2  1  1  0  0
0   Mohammed Shami    6  0  37  0   6.16  23  4  2  0  0
1   Mohammed Siraj    7  1  37  2   5.28  28  6  1  0  0
3       Axar Patel    8  0  57  2   7.12  24  3  4  0  1
5    Hardik Pandya    8  0  44  3   5.50  24  4  0  1  0
7  Ravindra Jadeja   10  0  34  0   3.40  31  1  0  1  0
8    Kuldeep Yadav   10  1  56  3   5.60  30  4  1  1  0

##2023 January vs NZ

### ODI-1

In [293]:
ind_nz_1 = pd.read_html('https://www.espncricinfo.com/series/new-zealand-in-india-2022-23-1348633/india-vs-new-zealand-1st-odi-1348646/full-scorecard')

In [294]:
ind_nz_1[0] = pd.DataFrame(ind_nz_1[0])
ind_nz_1[3] = pd.DataFrame(ind_nz_1[3])

In [295]:
ind_nz_1[0]

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9
0,Rohit Sharma (c),c Mitchell b Tickner,34,38,49,4,2,89.47,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shubman Gill,c Phillips b Shipley,208,149,225,19,9,139.59,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Virat Kohli,b Santner,8,10,16,1,0,80.00,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Ishan Kishan †,c †Latham b Ferguson,5,14,19,0,0,35.71,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Suryakumar Yadav,c Santner b Mitchell,31,26,39,4,0,119.23,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Hardik Pandya,b Mitchell,28,38,56,3,0,73.68,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Washington Sundar,lbw b Shipley,12,14,27,0,0,85.71,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Shardul Thakur,run out (Santner/†Latham),3,3,9,0,0,100.00,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Kuldeep Yadav,not out,5,6,18,0,0,83.33,NaN,NaN
17,Mohammed Shami,not out,2,2,3,0,0,100.00,NaN,NaN
18,Extras,(w 13),13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,TOTAL,50 Ov (RR: 6.98),349/8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Did not bat: Mohammed Siraj,Did not bat: Mohammed Siraj,Did not bat: Mohammed Siraj,Did not bat: Mohammed Siraj,Did not bat: Mohammed Siraj,Did not bat: Mohammed Siraj,Did not bat: Mohammed Siraj,Did not bat: Mohammed Siraj,Did not bat: Mohammed Siraj,NaN
21,"Fall of wickets: 1-60 (Rohit Sharma, 12.1 ov),...","Fall of wickets: 1-60 (Rohit Sharma, 12.1 ov),...","Fall of wickets: 1-60 (Rohit Sharma, 12.1 ov),...","Fall of wickets: 1-60 (Rohit Sharma, 12.1 ov),...","Fall of wickets: 1-60 (Rohit Sharma, 12.1 ov),...","Fall of wickets: 1-60 (Rohit Sharma, 12.1 ov),...","Fall of wickets: 1-60 (Rohit Sharma, 12.1 ov),...","Fall of wickets: 1-60 (Rohit Sharma, 12.1 ov),...","Fall of wickets: 1-60 (Rohit Sharma, 12.1 ov),...",NaN

In [296]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 15, 18, 19, 20, 21]
ind_nz_1[0] = ind_nz_1[0].drop(rows_to_drop)
ind_nz_1[0] = ind_nz_1[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_nz_1[0]

              BATTING                 Unnamed: 1    R    B  4s 6s      SR
0    Rohit Sharma (c)       c Mitchell b Tickner   34   38   4  2   89.47
2        Shubman Gill       c Phillips b Shipley  208  149  19  9  139.59
4         Virat Kohli                  b Santner    8   10   1  0   80.00
6      Ishan Kishan †       c †Latham b Ferguson    5   14   0  0   35.71
8    Suryakumar Yadav       c Santner b Mitchell   31   26   4  0  119.23
10      Hardik Pandya                 b Mitchell   28   38   3  0   73.68
12  Washington Sundar              lbw b Shipley   12   14   0  0   85.71
14     Shardul Thakur  run out (Santner/†Latham)    3    3   0  0  100.00
16      Kuldeep Yadav                    not out    5    6   0  0   83.33
17     Mohammed Shami                    not out    2    2   0  0  100.00

In [297]:
ind_nz_1[3]

,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB
0,Mohammed Shami,10,1,69,1,6.90,30,8,3,0,0
1,"24.3 to GD Phillips, bowled him. Rewards of ti...","24.3 to GD Phillips, bowled him. Rewards of ti...","24.3 to GD Phillips, bowled him. Rewards of ti...","24.3 to GD Phillips, bowled him. Rewards of ti...","24.3 to GD Phillips, bowled him. Rewards of ti...","24.3 to GD Phillips, bowled him. Rewards of ti...","24.3 to GD Phillips, bowled him. Rewards of ti...","24.3 to GD Phillips, bowled him. Rewards of ti...","24.3 to GD Phillips, bowled him. Rewards of ti...","24.3 to GD Phillips, bowled him. Rewards of ti...","24.3 to GD Phillips, bowled him. Rewards of ti..."
2,Mohammed Siraj,10,2,46,4,4.60,39,7,0,4,0
3,"5.4 to DP Conway, what a working over. Three b...","5.4 to DP Conway, what a working over. Three b...","5.4 to DP Conway, what a working over. Three b...","5.4 to DP Conway, what a working over. Three b...","5.4 to DP Conway, what a working over. Three b...","5.4 to DP Conway, what a working over. Three b...","5.4 to DP Conway, what a working over. Three b...","5.4 to DP Conway, what a working over. Three b...","5.4 to DP Conway, what a working over. Three b...","5.4 to DP Conway, what a working over. Three b...","5.4 to DP Conway, what a working over. Three b..."
4,Hardik Pandya,7,0,70,1,10.00,14,7,3,3,0
5,"48.3 to LH Ferguson, Ferguson miscues one, it ...","48.3 to LH Ferguson, Ferguson miscues one, it ...","48.3 to LH Ferguson, Ferguson miscues one, it ...","48.3 to LH Ferguson, Ferguson miscues one, it ...","48.3 to LH Ferguson, Ferguson miscues one, it ...","48.3 to LH Ferguson, Ferguson miscues one, it ...","48.3 to LH Ferguson, Ferguson miscues one, it ...","48.3 to LH Ferguson, Ferguson miscues one, it ...","48.3 to LH Ferguson, Ferguson miscues one, it ...","48.3 to LH Ferguson, Ferguson miscues one, it ...","48.3 to LH Ferguson, Ferguson miscues one, it ..."
6,Kuldeep Yadav,8,1,43,2,5.37,29,4,2,0,0
7,"15.3 to HM Nicholls, oh he hasn't read this at...","15.3 to HM Nicholls, oh he hasn't read this at...","15.3 to HM Nicholls, oh he hasn't read this at...","15.3 to HM Nicholls, oh he hasn't read this at...","15.3 to HM Nicholls, oh he hasn't read this at...","15.3 to HM Nicholls, oh he hasn't read this at...","15.3 to HM Nicholls, oh he hasn't read this at...","15.3 to HM Nicholls, oh he hasn't read this at...","15.3 to HM Nicholls, oh he hasn't read this at...","15.3 to HM Nicholls, oh he hasn't read this at...","15.3 to HM Nicholls, oh he hasn't read this at..."
8,Shardul Thakur,7.2,0,54,2,7.36,27,6,2,7,0
9,"12.5 to FH Allen, Thakur. Lord. This is not in...","12.5 to FH Allen, Thakur. Lord. This is not in...","12.5 to FH Allen, Thakur. Lord. This is not in...","12.5 to FH Allen, Thakur. Lord. This is not in...","12.5 to FH Allen, Thakur. Lord. This is not in...","12.5 to FH Allen, Thakur. Lord. This is not in...","12.5 to FH Allen, Thakur. Lord. This is not in...","12.5 to FH Allen, Thakur. Lord. This is not in...","12.5 to FH Allen, Thakur. Lord. This is not in...","12.5 to FH Allen, Thakur. Lord. This is not in...","12.5 to FH Allen, Thakur. Lord. This is not in..."
10,Washington Sundar,7,0,50,0,7.14,18,3,3,0,0

In [298]:
rows_to_drop = [1, 3, 5, 7, 9]
ind_nz_1[3] = ind_nz_1[3].drop(rows_to_drop)
ind_nz_1[3]

              BOWLING    O  M   R  W   ECON  0s 4s 6s WD NB
0      Mohammed Shami   10  1  69  1   6.90  30  8  3  0  0
2      Mohammed Siraj   10  2  46  4   4.60  39  7  0  4  0
4       Hardik Pandya    7  0  70  1  10.00  14  7  3  3  0
6       Kuldeep Yadav    8  1  43  2   5.37  29  4  2  0  0
8      Shardul Thakur  7.2  0  54  2   7.36  27  6  2  7  0
10  Washington Sundar    7  0  50  0   7.14  18  3  3  0  0

### ODI-2

In [299]:
ind_nz_2 = pd.read_html('https://www.espncricinfo.com/series/new-zealand-in-india-2022-23-1348633/india-vs-new-zealand-2nd-odi-1348647/full-scorecard')

In [300]:
ind_nz_2[1] = pd.DataFrame(ind_nz_2[1])
ind_nz_2[2] = pd.DataFrame(ind_nz_2[2])

In [301]:
ind_nz_2[1]

,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB
0,Mohammed Shami,6,1,18,3,3.00,30,3,0,3,0
1,"0.5 to FH Allen, 137.5kmh, brings this one in ...","0.5 to FH Allen, 137.5kmh, brings this one in ...","0.5 to FH Allen, 137.5kmh, brings this one in ...","0.5 to FH Allen, 137.5kmh, brings this one in ...","0.5 to FH Allen, 137.5kmh, brings this one in ...","0.5 to FH Allen, 137.5kmh, brings this one in ...","0.5 to FH Allen, 137.5kmh, brings this one in ...","0.5 to FH Allen, 137.5kmh, brings this one in ...","0.5 to FH Allen, 137.5kmh, brings this one in ...","0.5 to FH Allen, 137.5kmh, brings this one in ...","0.5 to FH Allen, 137.5kmh, brings this one in ..."
2,Mohammed Siraj,6,1,10,1,1.66,30,1,0,0,0
3,"5.3 to HM Nicholls, edged to slip, Siraj strik...","5.3 to HM Nicholls, edged to slip, Siraj strik...","5.3 to HM Nicholls, edged to slip, Siraj strik...","5.3 to HM Nicholls, edged to slip, Siraj strik...","5.3 to HM Nicholls, edged to slip, Siraj strik...","5.3 to HM Nicholls, edged to slip, Siraj strik...","5.3 to HM Nicholls, edged to slip, Siraj strik...","5.3 to HM Nicholls, edged to slip, Siraj strik...","5.3 to HM Nicholls, edged to slip, Siraj strik...","5.3 to HM Nicholls, edged to slip, Siraj strik...","5.3 to HM Nicholls, edged to slip, Siraj strik..."
4,Shardul Thakur,6,1,26,1,4.33,26,5,0,1,0
5,"10.3 to TWM Latham, Thakur strikes as well, th...","10.3 to TWM Latham, Thakur strikes as well, th...","10.3 to TWM Latham, Thakur strikes as well, th...","10.3 to TWM Latham, Thakur strikes as well, th...","10.3 to TWM Latham, Thakur strikes as well, th...","10.3 to TWM Latham, Thakur strikes as well, th...","10.3 to TWM Latham, Thakur strikes as well, th...","10.3 to TWM Latham, Thakur strikes as well, th...","10.3 to TWM Latham, Thakur strikes as well, th...","10.3 to TWM Latham, Thakur strikes as well, th...","10.3 to TWM Latham, Thakur strikes as well, th..."
6,Hardik Pandya,6,3,16,2,2.66,29,2,0,1,0
7,"9.4 to DP Conway, another sharp one-handed ret...","9.4 to DP Conway, another sharp one-handed ret...","9.4 to DP Conway, another sharp one-handed ret...","9.4 to DP Conway, another sharp one-handed ret...","9.4 to DP Conway, another sharp one-handed ret...","9.4 to DP Conway, another sharp one-handed ret...","9.4 to DP Conway, another sharp one-handed ret...","9.4 to DP Conway, another sharp one-handed ret...","9.4 to DP Conway, another sharp one-handed ret...","9.4 to DP Conway, another sharp one-handed ret...","9.4 to DP Conway, another sharp one-handed ret..."
8,Kuldeep Yadav,7.3,0,29,1,3.86,22,2,0,0,0
9,"34.3 to BM Tickner, given out lbw and he revie...","34.3 to BM Tickner, given out lbw and he revie...","34.3 to BM Tickner, given out lbw and he revie...","34.3 to BM Tickner, given out lbw and he revie...","34.3 to BM Tickner, given out lbw and he revie...","34.3 to BM Tickner, given out lbw and he revie...","34.3 to BM Tickner, given out lbw and he revie...","34.3 to BM Tickner, given out lbw and he revie...","34.3 to BM Tickner, given out lbw and he revie...","34.3 to BM Tickner, given out lbw and he revie...","34.3 to BM Tickner, given out lbw and he revie..."
10,Washington Sundar,3,1,7,2,2.33,13,0,0,0,0
11,"31.1 to GD Phillips, another big wicket, Phill...","31.1 to GD Phillips, another big wicket, Phill...","31.1 to GD Phillips, another big wicket, Phill...","31.1 to GD Phillips, another big wicket, Phill...","31.1 to GD Phillips, another big wicket, Phill...","31.1 to GD Phillips, another big wicket, Phill...","31.1 to GD Phillips, another big wicket, Phill...","31.1 to GD Phillips, another big wicket, Phill...","31.1 to GD Phillips, another big wicket, Phill...","31.1 to GD Phillips, another big wicket, Phill...","31.1 to GD Phillips, another big wicket, Phill..."

In [302]:
rows_to_drop = [1, 3, 5, 7, 9, 11]
ind_nz_2[1] = ind_nz_2[1].drop(rows_to_drop)
ind_nz_2[1]

              BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0      Mohammed Shami    6  1  18  3  3.00  30  3  0  3  0
2      Mohammed Siraj    6  1  10  1  1.66  30  1  0  0  0
4      Shardul Thakur    6  1  26  1  4.33  26  5  0  1  0
6       Hardik Pandya    6  3  16  2  2.66  29  2  0  1  0
8       Kuldeep Yadav  7.3  0  29  1  3.86  22  2  0  0  0
10  Washington Sundar    3  1   7  2  2.33  13  0  0  0  0

In [303]:
ind_nz_2[2]

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9
0,Rohit Sharma (c),lbw b Shipley,51,50,65,7,2,102.00,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shubman Gill,not out,40,53,88,6,0,75.47,NaN,NaN
3,Virat Kohli,st †Latham b Santner,11,9,19,2,0,122.22,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ishan Kishan †,not out,8,9,7,2,0,88.88,NaN,NaN
6,Extras,(lb 1),1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,TOTAL,20.1 Ov (RR: 5.50),111/2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Did not bat: Suryakumar Yadav, Hardik Pandya, ...","Did not bat: Suryakumar Yadav, Hardik Pandya, ...","Did not bat: Suryakumar Yadav, Hardik Pandya, ...","Did not bat: Suryakumar Yadav, Hardik Pandya, ...","Did not bat: Suryakumar Yadav, Hardik Pandya, ...","Did not bat: Suryakumar Yadav, Hardik Pandya, ...","Did not bat: Suryakumar Yadav, Hardik Pandya, ...","Did not bat: Suryakumar Yadav, Hardik Pandya, ...","Did not bat: Suryakumar Yadav, Hardik Pandya, ...",NaN
9,"Fall of wickets: 1-72 (Rohit Sharma, 14.2 ov),...","Fall of wickets: 1-72 (Rohit Sharma, 14.2 ov),...","Fall of wickets: 1-72 (Rohit Sharma, 14.2 ov),...","Fall of wickets: 1-72 (Rohit Sharma, 14.2 ov),...","Fall of wickets: 1-72 (Rohit Sharma, 14.2 ov),...","Fall of wickets: 1-72 (Rohit Sharma, 14.2 ov),...","Fall of wickets: 1-72 (Rohit Sharma, 14.2 ov),...","Fall of wickets: 1-72 (Rohit Sharma, 14.2 ov),...","Fall of wickets: 1-72 (Rohit Sharma, 14.2 ov),...",NaN

In [304]:
rows_to_drop = [1, 4, 6, 7, 8, 9]
ind_nz_2[2] = ind_nz_2[2].drop(rows_to_drop)
ind_nz_2[2] = ind_nz_2[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_nz_2[2]

            BATTING            Unnamed: 1   R   B 4s 6s      SR
0  Rohit Sharma (c)         lbw b Shipley  51  50  7  2  102.00
2      Shubman Gill               not out  40  53  6  0   75.47
3       Virat Kohli  st †Latham b Santner  11   9  2  0  122.22
5    Ishan Kishan †               not out   8   9  2  0   88.88

### ODI-3

In [305]:
ind_nz_3 = pd.read_html('https://www.espncricinfo.com/series/new-zealand-in-india-2022-23-1348633/india-vs-new-zealand-3rd-odi-1348648/full-scorecard')

In [306]:
ind_nz_3[0] = pd.DataFrame(ind_nz_3[0])
ind_nz_3[3] = pd.DataFrame(ind_nz_3[3])

In [307]:
ind_nz_3[0]

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9
0,Rohit Sharma (c),b Bracewell,101,85,113,9,6,118.82,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shubman Gill,c Conway b Tickner,112,78,120,13,5,143.58,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Virat Kohli,c Allen b Duffy,36,27,44,3,1,133.33,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Ishan Kishan †,run out (Nicholls),17,24,29,1,1,70.83,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Suryakumar Yadav,c Conway b Duffy,14,9,19,0,2,155.55,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Hardik Pandya,c Conway b Duffy,54,38,55,3,3,142.10,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Washington Sundar,c Mitchell b Tickner,9,14,17,1,0,64.28,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Shardul Thakur,c †Latham b Tickner,25,17,26,3,1,147.05,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Kuldeep Yadav,run out (†Latham/Ferguson),3,3,11,0,0,100.00,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Umran Malik,not out,2,5,7,0,0,40.00,NaN,NaN
19,Extras,"(b 5, lb 1, w 6)",12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,TOTAL,50 Ov (RR: 7.70),385/9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,NaN
22,"Fall of wickets: 1-212 (Rohit Sharma, 26.1 ov)...","Fall of wickets: 1-212 (Rohit Sharma, 26.1 ov)...","Fall of wickets: 1-212 (Rohit Sharma, 26.1 ov)...","Fall of wickets: 1-212 (Rohit Sharma, 26.1 ov)...","Fall of wickets: 1-212 (Rohit Sharma, 26.1 ov)...","Fall of wickets: 1-212 (Rohit Sharma, 26.1 ov)...","Fall of wickets: 1-212 (Rohit Sharma, 26.1 ov)...","Fall of wickets: 1-212 (Rohit Sharma, 26.1 ov)...","Fall of wickets: 1-212 (Rohit Sharma, 26.1 ov)...",NaN

In [308]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 20, 21, 22]
ind_nz_3[0] = ind_nz_3[0].drop(rows_to_drop)
ind_nz_3[0] = ind_nz_3[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_nz_3[0]

              BATTING                  Unnamed: 1    R   B  4s 6s      SR
0    Rohit Sharma (c)                 b Bracewell  101  85   9  6  118.82
2        Shubman Gill          c Conway b Tickner  112  78  13  5  143.58
4         Virat Kohli             c Allen b Duffy   36  27   3  1  133.33
6      Ishan Kishan †          run out (Nicholls)   17  24   1  1   70.83
8    Suryakumar Yadav            c Conway b Duffy   14   9   0  2  155.55
10      Hardik Pandya            c Conway b Duffy   54  38   3  3  142.10
12  Washington Sundar        c Mitchell b Tickner    9  14   1  0   64.28
14     Shardul Thakur         c †Latham b Tickner   25  17   3  1  147.05
16      Kuldeep Yadav  run out (†Latham/Ferguson)    3   3   0  0  100.00
18        Umran Malik                     not out    2   5   0  0   40.00

In [309]:
ind_nz_3[3]

,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB
0,Hardik Pandya,6,0,37,1,6.16,23,3,2,3,0
1,"0.2 to FH Allen, and a wicket in the first ove...","0.2 to FH Allen, and a wicket in the first ove...","0.2 to FH Allen, and a wicket in the first ove...","0.2 to FH Allen, and a wicket in the first ove...","0.2 to FH Allen, and a wicket in the first ove...","0.2 to FH Allen, and a wicket in the first ove...","0.2 to FH Allen, and a wicket in the first ove...","0.2 to FH Allen, and a wicket in the first ove...","0.2 to FH Allen, and a wicket in the first ove...","0.2 to FH Allen, and a wicket in the first ove...","0.2 to FH Allen, and a wicket in the first ove..."
2,Washington Sundar,6,0,49,0,8.16,15,4,3,1,0
3,Shardul Thakur,6,0,45,3,7.50,15,4,2,1,0
4,"25.1 to DJ Mitchell, has he struck first ball?...","25.1 to DJ Mitchell, has he struck first ball?...","25.1 to DJ Mitchell, has he struck first ball?...","25.1 to DJ Mitchell, has he struck first ball?...","25.1 to DJ Mitchell, has he struck first ball?...","25.1 to DJ Mitchell, has he struck first ball?...","25.1 to DJ Mitchell, has he struck first ball?...","25.1 to DJ Mitchell, has he struck first ball?...","25.1 to DJ Mitchell, has he struck first ball?...","25.1 to DJ Mitchell, has he struck first ball?...","25.1 to DJ Mitchell, has he struck first ball?..."
5,Umran Malik,7,0,52,1,7.42,18,5,2,2,0
6,"31.4 to DP Conway, Malik gets the big wicket o...","31.4 to DP Conway, Malik gets the big wicket o...","31.4 to DP Conway, Malik gets the big wicket o...","31.4 to DP Conway, Malik gets the big wicket o...","31.4 to DP Conway, Malik gets the big wicket o...","31.4 to DP Conway, Malik gets the big wicket o...","31.4 to DP Conway, Malik gets the big wicket o...","31.4 to DP Conway, Malik gets the big wicket o...","31.4 to DP Conway, Malik gets the big wicket o...","31.4 to DP Conway, Malik gets the big wicket o...","31.4 to DP Conway, Malik gets the big wicket o..."
7,Kuldeep Yadav,9,0,62,3,6.88,21,4,2,2,0
8,"14.5 to HM Nicholls, and he hasn't read whatev...","14.5 to HM Nicholls, and he hasn't read whatev...","14.5 to HM Nicholls, and he hasn't read whatev...","14.5 to HM Nicholls, and he hasn't read whatev...","14.5 to HM Nicholls, and he hasn't read whatev...","14.5 to HM Nicholls, and he hasn't read whatev...","14.5 to HM Nicholls, and he hasn't read whatev...","14.5 to HM Nicholls, and he hasn't read whatev...","14.5 to HM Nicholls, and he hasn't read whatev...","14.5 to HM Nicholls, and he hasn't read whatev...","14.5 to HM Nicholls, and he hasn't read whatev..."
9,Yuzvendra Chahal,7.2,0,43,2,5.86,22,3,2,0,0
10,"39.4 to JA Duffy, given straightaway, Chahal h...","39.4 to JA Duffy, given straightaway, Chahal h...","39.4 to JA Duffy, given straightaway, Chahal h...","39.4 to JA Duffy, given straightaway, Chahal h...","39.4 to JA Duffy, given straightaway, Chahal h...","39.4 to JA Duffy, given straightaway, Chahal h...","39.4 to JA Duffy, given straightaway, Chahal h...","39.4 to JA Duffy, given straightaway, Chahal h...","39.4 to JA Duffy, given straightaway, Chahal h...","39.4 to JA Duffy, given straightaway, Chahal h...","39.4 to JA Duffy, given straightaway, Chahal h..."

In [310]:
rows_to_drop = [1, 4, 6, 8, 10]
ind_nz_3[3] = ind_nz_3[3].drop(rows_to_drop)
ind_nz_3[3]

             BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0      Hardik Pandya    6  0  37  1  6.16  23  3  2  3  0
2  Washington Sundar    6  0  49  0  8.16  15  4  3  1  0
3     Shardul Thakur    6  0  45  3  7.50  15  4  2  1  0
5        Umran Malik    7  0  52  1  7.42  18  5  2  2  0
7      Kuldeep Yadav    9  0  62  3  6.88  21  4  2  2  0
9   Yuzvendra Chahal  7.2  0  43  2  5.86  22  3  2  0  0

####Concat NZ

In [311]:
concat_nz_bat = pd.concat([ind_nz_1[0], ind_nz_2[2], ind_nz_3[0]])
concat_nz_bat

              BATTING                  Unnamed: 1    R    B  4s 6s      SR
0    Rohit Sharma (c)        c Mitchell b Tickner   34   38   4  2   89.47
2        Shubman Gill        c Phillips b Shipley  208  149  19  9  139.59
4         Virat Kohli                   b Santner    8   10   1  0   80.00
6      Ishan Kishan †        c †Latham b Ferguson    5   14   0  0   35.71
8    Suryakumar Yadav        c Santner b Mitchell   31   26   4  0  119.23
10      Hardik Pandya                  b Mitchell   28   38   3  0   73.68
12  Washington Sundar               lbw b Shipley   12   14   0  0   85.71
14     Shardul Thakur   run out (Santner/†Latham)    3    3   0  0  100.00
16      Kuldeep Yadav                     not out    5    6   0  0   83.33
17     Mohammed Shami                     not out    2    2   0  0  100.00
0    Rohit Sharma (c)               lbw b Shipley   51   50   7  2  102.00
2        Shubman Gill                     not out   40   53   6  0   75.47
3         Virat Kohli        st †Latham b Santner   11    9   2  0  122.22
5      Ishan Kishan †                     not out    8    9   2  0   88.88
0    Rohit Sharma (c)                 b Bracewell  101   85   9  6  118.82
2        Shubman Gill          c Conway b Tickner  112   78  13  5  143.58
4         Virat Kohli             c Allen b Duffy   36   27   3  1  133.33
6      Ishan Kishan †          run out (Nicholls)   17   24   1  1   70.83
8    Suryakumar Yadav            c Conway b Duffy   14    9   0  2  155.55
10      Hardik Pandya            c Conway b Duffy   54   38   3  3  142.10
12  Washington Sundar        c Mitchell b Tickner    9   14   1  0   64.28
14     Shardul Thakur         c †Latham b Tickner   25   17   3  1  147.05
16      Kuldeep Yadav  run out (†Latham/Ferguson)    3    3   0  0  100.00
18        Umran Malik                     not out    2    5   0  0   40.00

In [312]:
concat_nz_bowl =  pd.concat([ind_nz_1[3], ind_nz_2[1], ind_nz_3[3]])
concat_nz_bowl

              BOWLING    O  M   R  W   ECON  0s 4s 6s WD NB
0      Mohammed Shami   10  1  69  1   6.90  30  8  3  0  0
2      Mohammed Siraj   10  2  46  4   4.60  39  7  0  4  0
4       Hardik Pandya    7  0  70  1  10.00  14  7  3  3  0
6       Kuldeep Yadav    8  1  43  2   5.37  29  4  2  0  0
8      Shardul Thakur  7.2  0  54  2   7.36  27  6  2  7  0
10  Washington Sundar    7  0  50  0   7.14  18  3  3  0  0
0      Mohammed Shami    6  1  18  3   3.00  30  3  0  3  0
2      Mohammed Siraj    6  1  10  1   1.66  30  1  0  0  0
4      Shardul Thakur    6  1  26  1   4.33  26  5  0  1  0
6       Hardik Pandya    6  3  16  2   2.66  29  2  0  1  0
8       Kuldeep Yadav  7.3  0  29  1   3.86  22  2  0  0  0
10  Washington Sundar    3  1   7  2   2.33  13  0  0  0  0
0       Hardik Pandya    6  0  37  1   6.16  23  3  2  3  0
2   Washington Sundar    6  0  49  0   8.16  15  4  3  1  0
3      Shardul Thakur    6  0  45  3   7.50  15  4  2  1  0
5         Umran Malik    7  0  52  1   7.42  18  5  2  2  0
7       Kuldeep Yadav    9  0  62  3   6.88  21  4  2  2  0
9    Yuzvendra Chahal  7.2  0  43  2   5.86  22  3  2  0  0

##2023 January vs SL

###ODI-1

In [54]:
ind_sl_1 = pd.read_html('https://www.espncricinfo.com/series/sri-lanka-in-india-2022-23-1348629/india-vs-sri-lanka-1st-odi-1348643/full-scorecard')

In [55]:
ind_sl_1[0] = pd.DataFrame(ind_sl_1[0])
ind_sl_1[3] = pd.DataFrame(ind_sl_1[3])

In [ ]:
ind_sl_1[0]

In [57]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 16, 17, 18, 19]
ind_sl_1[0] = ind_sl_1[0].drop(rows_to_drop)
ind_sl_1[0] = ind_sl_1[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_sl_1[0]

             BATTING                Unnamed: 1    R   B  4s 6s      SR
0   Rohit Sharma (c)              b Madushanka   83  67   9  3  123.88
2       Shubman Gill             lbw b Shanaka   70  60  11  0  116.66
4        Virat Kohli       c †Mendis b Rajitha  113  87  12  1  129.88
6       Shreyas Iyer  c Fernando b DM de Silva   28  24   3  1  116.66
8         KL Rahul †                 b Rajitha   39  29   4  1  134.48
10     Hardik Pandya  c PWH de Silva b Rajitha   14  12   0  1  116.66
12        Axar Patel  c Fernando b Karunaratne    9   9   0  0  100.00
14    Mohammed Shami                   not out    4   4   0  0  100.00
15    Mohammed Siraj                   not out    7   8   0  0   87.50

In [ ]:
ind_sl_1[3]

In [59]:
rows_to_drop = [1, 3, 5, 7, 9]
ind_sl_1[3] = ind_sl_1[3].drop(rows_to_drop)
ind_sl_1[3]

             BOWLING   O  M   R  W  ECON  0s  4s 6s WD NB
0     Mohammed Shami   9  0  67  1  7.44  29   9  1  2  0
2     Mohammed Siraj   7  1  30  2  4.28  29   3  1  0  0
4      Hardik Pandya   6  0  33  1  5.50  18   4  0  2  0
6        Umran Malik   8  0  57  3  7.12  27  10  0  4  0
8   Yuzvendra Chahal  10  0  58  1  5.80  33   6  2  0  0
10        Axar Patel  10  0  58  0  5.80  32   7  1  0  0

### ODI-2

In [60]:
ind_sl_2 = pd.read_html('https://www.espncricinfo.com/series/sri-lanka-in-india-2022-23-1348629/india-vs-sri-lanka-2nd-odi-1348644/full-scorecard')

In [61]:
ind_sl_2[1] = pd.DataFrame(ind_sl_2[1])
ind_sl_2[2] = pd.DataFrame(ind_sl_2[2])

In [ ]:
ind_sl_2[1]

In [63]:
rows_to_drop = [2, 5, 7, 9]
ind_sl_2[1] = ind_sl_2[1].drop(rows_to_drop)
ind_sl_2[1]

          BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0  Mohammed Shami    7  0  43  0  6.14  23  7  0  1  0
1  Mohammed Siraj  5.4  0  30  3  5.29  24  4  1  2  0
3   Hardik Pandya    5  0  26  0  5.20  14  2  0  2  0
4     Umran Malik    7  0  48  2  6.85  21  6  1  0  1
6   Kuldeep Yadav   10  0  51  3  5.10  33  6  1  0  0
8      Axar Patel    5  0  16  1  3.20  18  1  0  0  0

In [ ]:
ind_sl_2[2]

In [65]:
rows_to_drop = [1, 3, 5, 7, 10, 12, 14, 15, 16, 17]
ind_sl_2[2] = ind_sl_2[2].drop(rows_to_drop)
ind_sl_2[2] = ind_sl_2[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_sl_2[2]

             BATTING                   Unnamed: 1   R    B 4s 6s      SR
0   Rohit Sharma (c)      c †Mendis b Karunaratne  17   21  2  1   80.95
2       Shubman Gill      c WIA Fernando b Kumara  21   12  5  0  175.00
4        Virat Kohli                     b Kumara   4    9  1  0   44.44
6       Shreyas Iyer                lbw b Rajitha  28   33  5  0   84.84
8         KL Rahul †                      not out  64  103  6  0   62.13
9      Hardik Pandya      c †Mendis b Karunaratne  36   53  4  0   67.92
11        Axar Patel  c Karunaratne b DM de Silva  21   21  1  1  100.00
13     Kuldeep Yadav                      not out  10   10  2  0  100.00

### ODI-3

In [66]:
ind_sl_3 = pd.read_html('https://www.espncricinfo.com/series/sri-lanka-in-india-2022-23-1348629/india-vs-sri-lanka-3rd-odi-1348645/full-scorecard')

In [67]:
ind_sl_3[0] = pd.DataFrame(ind_sl_3[0])
ind_sl_3[3] = pd.DataFrame(ind_sl_3[3])

In [ ]:
ind_sl_3[0]

In [69]:
rows_to_drop = [1, 3, 6, 8, 10, 12, 13, 14, 15]
ind_sl_3[0] = ind_sl_3[0].drop(rows_to_drop)
ind_sl_3[0] = ind_sl_3[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_sl_3[0]

             BATTING                     Unnamed: 1    R    B  4s 6s      SR
0   Rohit Sharma (c)   c WIA Fernando b Karunaratne   42   49   2  3   85.71
2       Shubman Gill                      b Rajitha  116   97  14  2  119.58
4        Virat Kohli                        not out  166  110  13  8  150.90
5       Shreyas Iyer   c sub (DM de Silva) b Kumara   38   32   2  1  118.75
7         KL Rahul †  c sub (DN Wellalage) b Kumara    7    6   1  0  116.66
9   Suryakumar Yadav       c WIA Fernando b Rajitha    4    4   0  0  100.00
11        Axar Patel                        not out    2    2   0  0  100.00

In [ ]:
ind_sl_3[3]

In [71]:
rows_to_drop = [1, 3, 5]
ind_sl_3[3] = ind_sl_3[3].drop(rows_to_drop)
ind_sl_3[3]

          BOWLING   O  M   R  W  ECON  0s 4s 6s WD NB
0  Mohammed Shami   6  2  20  2  3.33  31  3  0  2  0
2  Mohammed Siraj  10  1  32  4  3.20  46  5  0  1  0
4   Kuldeep Yadav   5  1  16  2  3.20  23  3  0  0  0
6    Shreyas Iyer   1  0   2  0  2.00   4  0  0  0  0

####Concat SL

In [217]:
concat_sl_bat = pd.concat([ind_sl_1[0],ind_sl_2[2],ind_sl_3[0]])
concat_sl_bat

             BATTING                     Unnamed: 1    R    B  4s 6s      SR
0   Rohit Sharma (c)                   b Madushanka   83   67   9  3  123.88
2       Shubman Gill                  lbw b Shanaka   70   60  11  0  116.66
4        Virat Kohli            c †Mendis b Rajitha  113   87  12  1  129.88
6       Shreyas Iyer       c Fernando b DM de Silva   28   24   3  1  116.66
8         KL Rahul †                      b Rajitha   39   29   4  1  134.48
10     Hardik Pandya       c PWH de Silva b Rajitha   14   12   0  1  116.66
12        Axar Patel       c Fernando b Karunaratne    9    9   0  0  100.00
14    Mohammed Shami                        not out    4    4   0  0  100.00
15    Mohammed Siraj                        not out    7    8   0  0   87.50
0   Rohit Sharma (c)        c †Mendis b Karunaratne   17   21   2  1   80.95
2       Shubman Gill        c WIA Fernando b Kumara   21   12   5  0  175.00
4        Virat Kohli                       b Kumara    4    9   1  0   44.44
6       Shreyas Iyer                  lbw b Rajitha   28   33   5  0   84.84
8         KL Rahul †                        not out   64  103   6  0   62.13
9      Hardik Pandya        c †Mendis b Karunaratne   36   53   4  0   67.92
11        Axar Patel    c Karunaratne b DM de Silva   21   21   1  1  100.00
13     Kuldeep Yadav                        not out   10   10   2  0  100.00
0   Rohit Sharma (c)   c WIA Fernando b Karunaratne   42   49   2  3   85.71
2       Shubman Gill                      b Rajitha  116   97  14  2  119.58
4        Virat Kohli                        not out  166  110  13  8  150.90
5       Shreyas Iyer   c sub (DM de Silva) b Kumara   38   32   2  1  118.75
7         KL Rahul †  c sub (DN Wellalage) b Kumara    7    6   1  0  116.66
9   Suryakumar Yadav       c WIA Fernando b Rajitha    4    4   0  0  100.00
11        Axar Patel                        not out    2    2   0  0  100.00

In [218]:
concat_sl_bowl = pd.concat([ind_sl_1[3],ind_sl_2[1],ind_sl_3[3]])
concat_sl_bowl

             BOWLING    O  M   R  W  ECON  0s  4s 6s WD NB
0     Mohammed Shami    9  0  67  1  7.44  29   9  1  2  0
2     Mohammed Siraj    7  1  30  2  4.28  29   3  1  0  0
4      Hardik Pandya    6  0  33  1  5.50  18   4  0  2  0
6        Umran Malik    8  0  57  3  7.12  27  10  0  4  0
8   Yuzvendra Chahal   10  0  58  1  5.80  33   6  2  0  0
10        Axar Patel   10  0  58  0  5.80  32   7  1  0  0
0     Mohammed Shami    7  0  43  0  6.14  23   7  0  1  0
1     Mohammed Siraj  5.4  0  30  3  5.29  24   4  1  2  0
3      Hardik Pandya    5  0  26  0  5.20  14   2  0  2  0
4        Umran Malik    7  0  48  2  6.85  21   6  1  0  1
6      Kuldeep Yadav   10  0  51  3  5.10  33   6  1  0  0
8         Axar Patel    5  0  16  1  3.20  18   1  0  0  0
0     Mohammed Shami    6  2  20  2  3.33  31   3  0  2  0
2     Mohammed Siraj   10  1  32  4  3.20  46   5  0  1  0
4      Kuldeep Yadav    5  1  16  2  3.20  23   3  0  0  0
6       Shreyas Iyer    1  0   2  0  2.00   4   0  0  0  0

##2022 December vs Bang

###ODI-1

In [72]:
ban_ind_1 = pd.read_html('https://www.espncricinfo.com/series/india-in-bangladesh-2022-23-1340842/bangladesh-vs-india-1st-odi-1340845/full-scorecard')

In [73]:
ban_ind_1[0] = pd.DataFrame(ban_ind_1[0])
ban_ind_1[3] = pd.DataFrame(ban_ind_1[3])

In [ ]:
ban_ind_1[0]

In [75]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 22, 23]
ban_ind_1[0] = ban_ind_1[0].drop(rows_to_drop)
ban_ind_1[0] = ban_ind_1[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ban_ind_1[0]

,BATTING,Unnamed: 1,R,B,4s,6s,SR
0,Rohit Sharma (c),b Shakib Al Hasan,27,31,4,1,87.09
2,Shikhar Dhawan,b Mehidy Hasan Miraz,7,17,1,0,41.17
4,Virat Kohli,c Litton Das b Shakib Al Hasan,9,15,1,0,60.00
6,Shreyas Iyer,c †Mushfiqur Rahim b Ebadot Hossain,24,39,2,0,61.53
8,KL Rahul †,c Anamul Haque b Ebadot Hossain,73,70,5,4,104.28
10,Washington Sundar,c Ebadot Hossain b Shakib Al Hasan,19,43,0,0,44.18
12,Shahbaz Ahmed,c Shakib Al Hasan b Ebadot Hossain,0,4,0,0,0.00
14,Shardul Thakur,b Shakib Al Hasan,2,3,0,0,66.66
16,Deepak Chahar,lbw b Shakib Al Hasan,0,3,0,0,0.00
18,Mohammed Siraj,c Mahmudullah b Ebadot Hossain,9,20,1,0,45.00
20,Kuldeep Sen,not out,2,4,0,0,50.00

In [ ]:
ban_ind_1[3]

In [77]:
rows_to_drop = [1, 3, 5, 8, 10]
ban_ind_1[3] = ban_ind_1[3].drop(rows_to_drop)
ban_ind_1[3]

             BOWLING   O  M   R  W  ECON  0s 4s 6s WD NB
0      Deepak Chahar   8  1  32  1  4.00  35  5  0  0  2
2     Mohammed Siraj  10  1  32  3  3.20  46  4  0  2  0
4        Kuldeep Sen   5  0  37  2  7.40  16  1  3  3  0
6      Shahbaz Ahmed   9  0  39  0  4.33  27  3  0  0  0
7  Washington Sundar   5  0  17  2  3.40  17  0  0  0  0
9     Shardul Thakur   9  1  21  1  2.33  39  1  0  1  0

###ODI-2

In [78]:
ban_ind_2 = pd.read_html('https://www.espncricinfo.com/series/india-in-bangladesh-2022-23-1340842/bangladesh-vs-india-2nd-odi-1340846/full-scorecard')

In [79]:
ban_ind_2[1] = pd.DataFrame(ban_ind_2[1])
ban_ind_2[2] = pd.DataFrame(ban_ind_2[2])

In [ ]:
ban_ind_2[1]

In [81]:
rows_to_drop = [2, 5, 7]
ban_ind_2[1] = ban_ind_2[1].drop(rows_to_drop)
ban_ind_2[1]

             BOWLING   O  M   R  W  ECON  0s  4s 6s WD NB
0      Deepak Chahar   3  0  12  0  4.00  12   1  0  0  0
1     Mohammed Siraj  10  0  73  2  7.30  35  10  1  4  1
3     Shardul Thakur  10  1  47  0  4.70  35   2  2  2  0
4        Umran Malik  10  2  58  2  5.80  35   9  0  1  1
6  Washington Sundar  10  0  37  3  3.70  36   2  1  0  0
8         Axar Patel   7  0  40  0  5.71  17   2  1  0  0

In [ ]:
ban_ind_2[2]

In [83]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 15, 18, 20, 21, 22]
ban_ind_2[2] = ban_ind_2[2].drop(rows_to_drop)
ban_ind_2[2] = ban_ind_2[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ban_ind_2[2]

,BATTING,Unnamed: 1,R,B,4s,6s,SR
0,Virat Kohli,b Ebadot Hossain,5,6,1,0,83.33
2,Shikhar Dhawan,c Mehidy Hasan Miraz b Mustafizur Rahman,8,10,1,0,80.00
4,Shreyas Iyer,c Afif Hossain b Mehidy Hasan Miraz,82,102,6,3,80.39
6,Washington Sundar,c Litton Das b Shakib Al Hasan,11,19,1,0,57.89
8,KL Rahul †,lbw b Mehidy Hasan Miraz,14,28,0,0,50.00
10,Axar Patel,c Shakib Al Hasan b Ebadot Hossain,56,56,2,3,100.00
12,Shardul Thakur,st †Mushfiqur Rahim b Shakib Al Hasan,7,23,0,0,30.43
14,Deepak Chahar,c Najmul Hossain Shanto b Ebadot Hossain,11,18,0,1,61.11
16,Rohit Sharma (c),not out,51,28,3,5,182.14
17,Mohammed Siraj,b Mahmudullah,2,12,0,0,16.66
19,Umran Malik,not out,0,0,0,0,-

###ODI-3

In [84]:
ban_ind_3 = pd.read_html('https://www.espncricinfo.com/series/india-in-bangladesh-2022-23-1340842/bangladesh-vs-india-3rd-odi-1340847/full-scorecard')

In [85]:
ban_ind_3[0] = pd.DataFrame(ban_ind_3[0])
ban_ind_3[3] = pd.DataFrame(ban_ind_3[3])

In [ ]:
ban_ind_3[0]

In [87]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 15, 18, 19, 20, 21]
ban_ind_3[0] = ban_ind_3[0].drop(rows_to_drop)
ban_ind_3[0] = ban_ind_3[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ban_ind_3[0]

,BATTING,Unnamed: 1,R,B,4s,6s,SR
0,Shikhar Dhawan,lbw b Mehidy Hasan Miraz,3,8,0,0,37.50
2,Ishan Kishan,c Litton Das b Taskin Ahmed,210,131,24,10,160.30
4,Virat Kohli,c Mehidy Hasan Miraz b Shakib Al Hasan,113,91,11,2,124.17
6,Shreyas Iyer,c Litton Das b Ebadot Hossain,3,6,0,0,50.00
8,KL Rahul (c)†,b Ebadot Hossain,8,10,1,0,80.00
10,Washington Sundar,b Shakib Al Hasan,37,27,4,1,137.03
12,Axar Patel,b Taskin Ahmed,20,17,1,1,117.64
14,Shardul Thakur,c Litton Das b Mustafizur Rahman,3,5,0,0,60.00
16,Kuldeep Yadav,not out,3,3,0,0,100.00
17,Mohammed Siraj,not out,0,2,0,0,0.00

In [ ]:
ban_ind_3[3]

In [89]:
rows_to_drop = [1, 3, 5, 7, 9, 11]
ban_ind_3[3] = ban_ind_3[3].drop(rows_to_drop)
ban_ind_3[3]

              BOWLING   O  M   R  W  ECON  0s 4s 6s WD NB
0      Mohammed Siraj   5  0  27  1  5.40  16  2  1  0  0
2      Shardul Thakur   5  0  30  3  6.00  22  3  2  2  0
4          Axar Patel   5  0  22  2  4.40  15  2  0  0  0
6         Umran Malik   8  0  43  2  5.37  24  5  0  0  1
8       Kuldeep Yadav  10  1  53  1  5.30  31  2  3  1  0
10  Washington Sundar   1  0   2  1  2.00   4  0  0  0  0

####Concat Bang

In [219]:
concat_ban_bat = pd.concat([ban_ind_1[0],ban_ind_2[2],ban_ind_3[0]])
concat_ban_bat

,BATTING,Unnamed: 1,R,B,4s,6s,SR
0,Rohit Sharma (c),b Shakib Al Hasan,27,31,4,1,87.09
2,Shikhar Dhawan,b Mehidy Hasan Miraz,7,17,1,0,41.17
4,Virat Kohli,c Litton Das b Shakib Al Hasan,9,15,1,0,60.00
6,Shreyas Iyer,c †Mushfiqur Rahim b Ebadot Hossain,24,39,2,0,61.53
8,KL Rahul †,c Anamul Haque b Ebadot Hossain,73,70,5,4,104.28
10,Washington Sundar,c Ebadot Hossain b Shakib Al Hasan,19,43,0,0,44.18
12,Shahbaz Ahmed,c Shakib Al Hasan b Ebadot Hossain,0,4,0,0,0.00
14,Shardul Thakur,b Shakib Al Hasan,2,3,0,0,66.66
16,Deepak Chahar,lbw b Shakib Al Hasan,0,3,0,0,0.00
18,Mohammed Siraj,c Mahmudullah b Ebadot Hossain,9,20,1,0,45.00
20,Kuldeep Sen,not out,2,4,0,0,50.00
0,Virat Kohli,b Ebadot Hossain,5,6,1,0,83.33
2,Shikhar Dhawan,c Mehidy Hasan Miraz b Mustafizur Rahman,8,10,1,0,80.00
4,Shreyas Iyer,c Afif Hossain b Mehidy Hasan Miraz,82,102,6,3,80.39
6,Washington Sundar,c Litton Das b Shakib Al Hasan,11,19,1,0,57.89
8,KL Rahul †,lbw b Mehidy Hasan Miraz,14,28,0,0,50.00
10,Axar Patel,c Shakib Al Hasan b Ebadot Hossain,56,56,2,3,100.00
12,Shardul Thakur,st †Mushfiqur Rahim b Shakib Al Hasan,7,23,0,0,30.43
14,Deepak Chahar,c Najmul Hossain Shanto b Ebadot Hossain,11,18,0,1,61.11
16,Rohit Sharma (c),not out,51,28,3,5,182.14
17,Mohammed Siraj,b Mahmudullah,2,12,0,0,16.66
19,Umran Malik,not out,0,0,0,0,-
0,Shikhar Dhawan,lbw b Mehidy Hasan Miraz,3,8,0,0,37.50
2,Ishan Kishan,c Litton Das b Taskin Ahmed,210,131,24,10,160.30
4,Virat Kohli,c Mehidy Hasan Miraz b Shakib Al Hasan,113,91,11,2,124.17
6,Shreyas Iyer,c Litton Das b Ebadot Hossain,3,6,0,0,50.00
8,KL Rahul (c)†,b Ebadot Hossain,8,10,1,0,80.00
10,Washington Sundar,b Shakib Al Hasan,37,27,4,1,137.03
12,Axar Patel,b Taskin Ahmed,20,17,1,1,117.64
14,Shardul Thakur,c Litton Das b Mustafizur Rahman,3,5,0,0,60.00
16,Kuldeep Yadav,not out,3,3,0,0,100.00
17,Mohammed Siraj,not out,0,2,0,0,0.00

In [220]:
concat_ban_bowl = pd.concat([ban_ind_1[3],ban_ind_2[1],ban_ind_3[3]])
concat_ban_bowl

              BOWLING   O  M   R  W  ECON  0s  4s 6s WD NB
0       Deepak Chahar   8  1  32  1  4.00  35   5  0  0  2
2      Mohammed Siraj  10  1  32  3  3.20  46   4  0  2  0
4         Kuldeep Sen   5  0  37  2  7.40  16   1  3  3  0
6       Shahbaz Ahmed   9  0  39  0  4.33  27   3  0  0  0
7   Washington Sundar   5  0  17  2  3.40  17   0  0  0  0
9      Shardul Thakur   9  1  21  1  2.33  39   1  0  1  0
0       Deepak Chahar   3  0  12  0  4.00  12   1  0  0  0
1      Mohammed Siraj  10  0  73  2  7.30  35  10  1  4  1
3      Shardul Thakur  10  1  47  0  4.70  35   2  2  2  0
4         Umran Malik  10  2  58  2  5.80  35   9  0  1  1
6   Washington Sundar  10  0  37  3  3.70  36   2  1  0  0
8          Axar Patel   7  0  40  0  5.71  17   2  1  0  0
0      Mohammed Siraj   5  0  27  1  5.40  16   2  1  0  0
2      Shardul Thakur   5  0  30  3  6.00  22   3  2  2  0
4          Axar Patel   5  0  22  2  4.40  15   2  0  0  0
6         Umran Malik   8  0  43  2  5.37  24   5  0  0  1
8       Kuldeep Yadav  10  1  53  1  5.30  31   2  3  1  0
10  Washington Sundar   1  0   2  1  2.00   4   0  0  0  0

##2022 Novemebr vs NZ

### ODI-1

In [285]:
nzl_ind_1 = pd.read_html('https://www.espncricinfo.com/series/india-in-new-zealand-2022-23-1322272/new-zealand-vs-india-1st-odi-1322278/full-scorecard')

In [286]:
nzl_ind_1[0] = pd.DataFrame(nzl_ind_1[0])
nzl_ind_1[3] = pd.DataFrame(nzl_ind_1[3])

In [287]:
nzl_ind_1[0]

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9
0,Shikhar Dhawan (c),c Allen b Southee,72,77,100,13,0,93.50,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shubman Gill,c Conway b Ferguson,50,65,93,1,3,76.92,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shreyas Iyer,c Conway b Southee,80,76,122,4,4,105.26,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Rishabh Pant †,b Ferguson,15,23,35,2,0,65.21,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Suryakumar Yadav,c Allen b Ferguson,4,3,2,1,0,133.33,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Sanju Samson,c Phillips b Milne,36,38,58,4,0,94.73,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Washington Sundar,not out,37,16,22,3,3,231.25,NaN,NaN
13,Shardul Thakur,c †Latham b Southee,1,2,3,0,0,50.00,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Extras,"(b 2, lb 1, w 8)",11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,TOTAL,"50 Ov (RR: 6.12, 220 Mins)",306/7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Did not bat: Umran Malik, Arshdeep Singh, Yuzv...","Did not bat: Umran Malik, Arshdeep Singh, Yuzv...","Did not bat: Umran Malik, Arshdeep Singh, Yuzv...","Did not bat: Umran Malik, Arshdeep Singh, Yuzv...","Did not bat: Umran Malik, Arshdeep Singh, Yuzv...","Did not bat: Umran Malik, Arshdeep Singh, Yuzv...","Did not bat: Umran Malik, Arshdeep Singh, Yuzv...","Did not bat: Umran Malik, Arshdeep Singh, Yuzv...","Did not bat: Umran Malik, Arshdeep Singh, Yuzv...",NaN
18,"Fall of wickets: 1-124 (Shubman Gill, 23.1 ov)...","Fall of wickets: 1-124 (Shubman Gill, 23.1 ov)...","Fall of wickets: 1-124 (Shubman Gill, 23.1 ov)...","Fall of wickets: 1-124 (Shubman Gill, 23.1 ov)...","Fall of wickets: 1-124 (Shubman Gill, 23.1 ov)...","Fall of wickets: 1-124 (Shubman Gill, 23.1 ov)...","Fall of wickets: 1-124 (Shubman Gill, 23.1 ov)...","Fall of wickets: 1-124 (Shubman Gill, 23.1 ov)...","Fall of wickets: 1-124 (Shubman Gill, 23.1 ov)...",NaN

In [288]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 14, 15, 16, 17, 18]
nzl_ind_1[0] = nzl_ind_1[0].drop(rows_to_drop)
nzl_ind_1[0] = nzl_ind_1[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
concat_nzl_bowl= nzl_ind_1[0]
concat_nzl_bowl

               BATTING           Unnamed: 1   R   B  4s 6s      SR
0   Shikhar Dhawan (c)    c Allen b Southee  72  77  13  0   93.50
2         Shubman Gill  c Conway b Ferguson  50  65   1  3   76.92
4         Shreyas Iyer   c Conway b Southee  80  76   4  4  105.26
6       Rishabh Pant †           b Ferguson  15  23   2  0   65.21
8     Suryakumar Yadav   c Allen b Ferguson   4   3   1  0  133.33
10        Sanju Samson   c Phillips b Milne  36  38   4  0   94.73
12   Washington Sundar              not out  37  16   3  3  231.25
13      Shardul Thakur  c †Latham b Southee   1   2   0  0   50.00

In [289]:
nzl_ind_1[3]

,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB
0,Arshdeep Singh,8.1,0,68,0,8.32,22,6,3,1,1
1,Shardul Thakur,9,1,63,1,7.00,31,10,1,3,0
2,"7.3 to FH Allen, Thakur gets his man! A length...","7.3 to FH Allen, Thakur gets his man! A length...","7.3 to FH Allen, Thakur gets his man! A length...","7.3 to FH Allen, Thakur gets his man! A length...","7.3 to FH Allen, Thakur gets his man! A length...","7.3 to FH Allen, Thakur gets his man! A length...","7.3 to FH Allen, Thakur gets his man! A length...","7.3 to FH Allen, Thakur gets his man! A length...","7.3 to FH Allen, Thakur gets his man! A length...","7.3 to FH Allen, Thakur gets his man! A length...","7.3 to FH Allen, Thakur gets his man! A length..."
3,Washington Sundar,10,0,42,0,4.20,31,2,1,1,0
4,Umran Malik,10,0,66,2,6.60,30,6,2,1,1
5,"15.1 to DP Conway, there was a faint edge, and...","15.1 to DP Conway, there was a faint edge, and...","15.1 to DP Conway, there was a faint edge, and...","15.1 to DP Conway, there was a faint edge, and...","15.1 to DP Conway, there was a faint edge, and...","15.1 to DP Conway, there was a faint edge, and...","15.1 to DP Conway, there was a faint edge, and...","15.1 to DP Conway, there was a faint edge, and...","15.1 to DP Conway, there was a faint edge, and...","15.1 to DP Conway, there was a faint edge, and...","15.1 to DP Conway, there was a faint edge, and..."
6,Yuzvendra Chahal,10,0,67,0,6.70,25,7,1,2,0

In [290]:
rows_to_drop = [2,5]
nzl_ind_1[3] = nzl_ind_1[3].drop(rows_to_drop)
concat_nzl_bowl = nzl_ind_1[3]
concat_nzl_bowl

             BOWLING    O  M   R  W  ECON  0s  4s 6s WD NB
0     Arshdeep Singh  8.1  0  68  0  8.32  22   6  3  1  1
1     Shardul Thakur    9  1  63  1  7.00  31  10  1  3  0
3  Washington Sundar   10  0  42  0  4.20  31   2  1  1  0
4        Umran Malik   10  0  66  2  6.60  30   6  2  1  1
6   Yuzvendra Chahal   10  0  67  0  6.70  25   7  1  2  0

###ODI-2

Abondoned

In [291]:
nzl_ind_2 = pd.read_html('https://www.espncricinfo.com/series/india-in-new-zealand-2022-23-1322272/new-zealand-vs-india-2nd-odi-1322279/full-scorecard')

###ODI-3

No result

In [292]:
nzl_ind_3 = pd.read_html('https://www.espncricinfo.com/series/india-in-new-zealand-2022-23-1322272/new-zealand-vs-india-3rd-odi-1322280/full-scorecard')

##2022 October vs SA

### ODI-1

In [223]:
ind_sa_1 = pd.read_html('https://www.espncricinfo.com/series/south-africa-in-india-2022-23-1327499/india-vs-south-africa-1st-odi-1327509/full-scorecard')

In [224]:
ind_sa_1[1] = pd.DataFrame(ind_sa_1[1])
ind_sa_1[2] = pd.DataFrame(ind_sa_1[2])

In [ ]:
ind_sa_1[1]

In [226]:
rows_to_drop = [3, 5, 7]
ind_sa_1[1] = ind_sa_1[1].drop(rows_to_drop)
ind_sa_1[1]

          BOWLING  O  M   R  W  ECON  0s 4s 6s WD NB
0  Mohammed Siraj  8  0  49  0  6.12  26  5  1  3  0
1      Avesh Khan  8  0  51  0  6.37  28  4  2  2  0
2  Shardul Thakur  8  1  35  2  4.37  26  3  0  2  0
4    Ravi Bishnoi  8  0  69  1  8.62  21  7  1  4  1
6   Kuldeep Yadav  8  0  39  1  4.87  24  2  1  0  0

In [ ]:
ind_sa_1[2]

In [228]:
rows_to_drop = [1, 3, 5, 7, 9, 12, 14, 16, 18, 19, 20, 21]
ind_sa_1[2] = ind_sa_1[2].drop(rows_to_drop)
ind_sa_1[2] = ind_sa_1[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_sa_1[2]

               BATTING            Unnamed: 1   R   B 4s 6s      SR
0   Shikhar Dhawan (c)             b Parnell   4  16  0  0   25.00
2         Shubman Gill              b Rabada   3   7  0  0   42.85
4      Ruturaj Gaikwad  st †de Kock b Shamsi  19  42  1  0   45.23
6         Ishan Kishan     c Malan b Maharaj  20  37  3  0   54.05
8         Shreyas Iyer      c Rabada b Ngidi  50  37  8  0  135.13
10      Sanju Samson †               not out  86  63  9  3  136.50
11      Shardul Thakur     c Maharaj b Ngidi  33  31  5  0  106.45
13       Kuldeep Yadav      c Bavuma b Ngidi   0   1  0  0    0.00
15          Avesh Khan     c Bavuma b Rabada   3   6  0  0   50.00
17        Ravi Bishnoi               not out   4   2  1  0  200.00

###ODI-2

In [229]:
ind_sa_2 = pd.read_html('https://www.espncricinfo.com/series/south-africa-in-india-2022-23-1327499/india-vs-south-africa-2nd-odi-1327510/full-scorecard')

In [230]:
ind_sa_2[1] = pd.DataFrame(ind_sa_2[1])
ind_sa_2[2] = pd.DataFrame(ind_sa_2[2])

In [ ]:
ind_sa_2[1]

In [232]:
rows_to_drop = [1, 3, 5, 8, 10]
ind_sa_2[1] = ind_sa_2[1].drop(rows_to_drop)
ind_sa_2[1]

             BOWLING   O  M   R  W  ECON  0s 4s 6s WD NB
0     Mohammed Siraj  10  1  38  3  3.80  39  5  0  2  0
2  Washington Sundar   9  0  60  1  6.66  20  6  1  0  0
4      Shahbaz Ahmed  10  0  54  1  5.40  25  4  1  0  0
6         Avesh Khan   7  0  35  0  5.00  24  5  0  1  0
7      Kuldeep Yadav   9  0  49  1  5.44  24  2  2  0  0
9     Shardul Thakur   5  0  36  1  7.20  11  5  0  0  0

In [ ]:
ind_sa_2[2]

In [234]:
rows_to_drop = [1, 3, 5, 8, 9, 10, 11]
ind_sa_2[2] = ind_sa_2[2].drop(rows_to_drop)
ind_sa_2[2] = ind_sa_2[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_sa_2[2]

              BATTING             Unnamed: 1    R    B  4s 6s      SR
0  Shikhar Dhawan (c)              b Parnell   13   20   0  1   65.00
2        Shubman Gill           c & b Rabada   28   26   5  0  107.69
4        Ishan Kishan  c Hendricks b Fortuin   93   84   4  7  110.71
6        Shreyas Iyer                not out  113  111  15  0  101.80
7      Sanju Samson †                not out   30   36   1  1   83.33

###ODI-3

In [235]:
ind_sa_3 = pd.read_html('https://www.espncricinfo.com/series/south-africa-in-india-2022-23-1327499/india-vs-south-africa-3rd-odi-1327511/full-scorecard')

In [236]:
ind_sa_3[1] = pd.DataFrame(ind_sa_3[1])
ind_sa_3[2] = pd.DataFrame(ind_sa_3[2])

In [ ]:
ind_sa_3[1]

In [238]:
rows_to_drop = [1, 3, 6, 9]
ind_sa_3[1] = ind_sa_3[1].drop(rows_to_drop)
ind_sa_3[1]

             BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0  Washington Sundar    4  0  15  2  3.75  17  2  0  2  0
2     Mohammed Siraj    5  0  17  2  3.40  23  3  0  0  0
4         Avesh Khan    5  1   8  0  1.60  24  0  0  2  0
5      Shahbaz Ahmed    7  0  32  2  4.57  23  4  0  0  0
7     Shardul Thakur    2  0   8  0  4.00   7  1  0  0  0
8      Kuldeep Yadav  4.1  1  18  4  4.32  15  1  1  0  0

In [ ]:
ind_sa_3[2]

In [240]:
rows_to_drop = [1, 3, 5, 8, 9, 10, 11]
ind_sa_3[2] = ind_sa_3[2].drop(rows_to_drop)
ind_sa_3[2] = ind_sa_3[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
ind_sa_3[2]

              BATTING                 Unnamed: 1   R   B 4s 6s      SR
0  Shikhar Dhawan (c)  run out (Jansen/†de Kock)   8  14  1  0   57.14
2        Shubman Gill                lbw b Ngidi  49  57  8  0   85.96
4        Ishan Kishan       c †de Kock b Fortuin  10  18  2  0   55.55
6        Shreyas Iyer                    not out  28  23  3  2  121.73
7      Sanju Samson †                    not out   2   4  0  0   50.00

####Concat SA

In [242]:
concat_sa_bat = pd.concat([ind_sa_1[2],ind_sa_2[2],ind_sa_3[2]])
concat_sa_bat

               BATTING                 Unnamed: 1    R    B  4s 6s      SR
0   Shikhar Dhawan (c)                  b Parnell    4   16   0  0   25.00
2         Shubman Gill                   b Rabada    3    7   0  0   42.85
4      Ruturaj Gaikwad       st †de Kock b Shamsi   19   42   1  0   45.23
6         Ishan Kishan          c Malan b Maharaj   20   37   3  0   54.05
8         Shreyas Iyer           c Rabada b Ngidi   50   37   8  0  135.13
10      Sanju Samson †                    not out   86   63   9  3  136.50
11      Shardul Thakur          c Maharaj b Ngidi   33   31   5  0  106.45
13       Kuldeep Yadav           c Bavuma b Ngidi    0    1   0  0    0.00
15          Avesh Khan          c Bavuma b Rabada    3    6   0  0   50.00
17        Ravi Bishnoi                    not out    4    2   1  0  200.00
0   Shikhar Dhawan (c)                  b Parnell   13   20   0  1   65.00
2         Shubman Gill               c & b Rabada   28   26   5  0  107.69
4         Ishan Kishan      c Hendricks b Fortuin   93   84   4  7  110.71
6         Shreyas Iyer                    not out  113  111  15  0  101.80
7       Sanju Samson †                    not out   30   36   1  1   83.33
0   Shikhar Dhawan (c)  run out (Jansen/†de Kock)    8   14   1  0   57.14
2         Shubman Gill                lbw b Ngidi   49   57   8  0   85.96
4         Ishan Kishan       c †de Kock b Fortuin   10   18   2  0   55.55
6         Shreyas Iyer                    not out   28   23   3  2  121.73
7       Sanju Samson †                    not out    2    4   0  0   50.00

In [243]:
concat_sa_bowl = pd.concat([ind_sa_1[1],ind_sa_2[1],ind_sa_3[1]])
concat_sa_bowl

             BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0     Mohammed Siraj    8  0  49  0  6.12  26  5  1  3  0
1         Avesh Khan    8  0  51  0  6.37  28  4  2  2  0
2     Shardul Thakur    8  1  35  2  4.37  26  3  0  2  0
4       Ravi Bishnoi    8  0  69  1  8.62  21  7  1  4  1
6      Kuldeep Yadav    8  0  39  1  4.87  24  2  1  0  0
0     Mohammed Siraj   10  1  38  3  3.80  39  5  0  2  0
2  Washington Sundar    9  0  60  1  6.66  20  6  1  0  0
4      Shahbaz Ahmed   10  0  54  1  5.40  25  4  1  0  0
6         Avesh Khan    7  0  35  0  5.00  24  5  0  1  0
7      Kuldeep Yadav    9  0  49  1  5.44  24  2  2  0  0
9     Shardul Thakur    5  0  36  1  7.20  11  5  0  0  0
0  Washington Sundar    4  0  15  2  3.75  17  2  0  2  0
2     Mohammed Siraj    5  0  17  2  3.40  23  3  0  0  0
4         Avesh Khan    5  1   8  0  1.60  24  0  0  2  0
5      Shahbaz Ahmed    7  0  32  2  4.57  23  4  0  0  0
7     Shardul Thakur    2  0   8  0  4.00   7  1  0  0  0
8      Kuldeep Yadav  4.1  1  18  4  4.32  15  1  1  0  0

##2022 August vs Zim

###ODI-1

In [116]:
zim_ind_1 = pd.read_html('https://www.espncricinfo.com/series/india-in-zimbabwe-2022-1325547/zimbabwe-vs-india-1st-odi-1325549/full-scorecard')

In [117]:
zim_ind_1[1] = pd.DataFrame(zim_ind_1[1])
zim_ind_1[2] = pd.DataFrame(zim_ind_1[2])

In [ ]:
zim_ind_1[1]

In [119]:
rows_to_drop = [1, 3, 6, 8]
zim_ind_1[1] = zim_ind_1[1].drop(rows_to_drop)
zim_ind_1[1]

           BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0    Deepak Chahar    7  0  27  3  3.85  30  3  0  2  0
2   Mohammed Siraj    8  2  36  1  4.50  35  4  0  2  0
4    Kuldeep Yadav   10  1  36  0  3.60  34  0  1  0  0
5  Prasidh Krishna    8  0  50  3  6.25  27  8  0  1  0
7       Axar Patel  7.3  2  24  3  3.20  34  2  1  0  0

In [ ]:
zim_ind_1[2]

In [121]:
rows_to_drop = [2,3,4]
zim_ind_1[2] = zim_ind_1[2].drop(rows_to_drop)
zim_ind_1[2] = zim_ind_1[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
zim_ind_1[2]

          BATTING Unnamed: 1   R    B  4s 6s      SR
0  Shikhar Dhawan    not out  81  113   9  0   71.68
1    Shubman Gill    not out  82   72  10  1  113.88

###ODI-2

In [122]:
zim_ind_2 = pd.read_html('https://www.espncricinfo.com/series/india-in-zimbabwe-2022-1325547/zimbabwe-vs-india-2nd-odi-1325550/full-scorecard')

In [123]:
zim_ind_2[1] = pd.DataFrame(zim_ind_2[1])
zim_ind_2[2] = pd.DataFrame(zim_ind_2[2])

In [ ]:
zim_ind_2[1]

In [125]:
rows_to_drop = [1, 3, 5, 7, 9, 11]
zim_ind_2[1] = zim_ind_2[1].drop(rows_to_drop)
zim_ind_2[1]

            BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0    Mohammed Siraj    8  2  16  1  2.00  42  0  0  4  0
2   Prasidh Krishna  6.1  1  28  1  4.54  27  1  1  1  0
4    Shardul Thakur    7  0  38  3  5.42  27  5  0  3  0
6        Axar Patel    7  1  20  1  2.85  23  0  0  0  0
8     Kuldeep Yadav    8  0  49  1  6.12  22  5  1  1  0
10     Deepak Hooda    2  0   6  1  3.00   7  0  0  0  0

In [ ]:
zim_ind_2[2]

In [127]:
rows_to_drop = [1, 3, 5, 7, 9, 12, 13, 14, 15]
zim_ind_2[2] = zim_ind_2[2].drop(rows_to_drop)
zim_ind_2[2] = zim_ind_2[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
zim_ind_2[2]

           BATTING         Unnamed: 1   R   B 4s 6s      SR
0   Shikhar Dhawan  c Kaia b Chivanga  33  21  4  0  157.14
2     KL Rahul (c)      lbw b Nyauchi   1   5  0  0   20.00
4     Shubman Gill   c Evans b Jongwe  33  34  6  0   97.05
6     Ishan Kishan           b Jongwe   6  13  0  0   46.15
8     Deepak Hooda    b Sikandar Raza  25  36  3  0   69.44
10  Sanju Samson †            not out  43  39  3  4  110.25
11      Axar Patel            not out   6   7  1  0   85.71

###ODI-3

In [128]:
zim_ind_3 = pd.read_html('https://www.espncricinfo.com/series/india-in-zimbabwe-2022-1325547/zimbabwe-vs-india-3rd-odi-1325551/full-scorecard')

In [129]:
zim_ind_3[0] = pd.DataFrame(zim_ind_3[0])
zim_ind_3[3] = pd.DataFrame(zim_ind_3[3])

In [ ]:
zim_ind_3[0]

In [131]:
rows_to_drop = [18,19,20,21,15,13,11,9,7,5,3,1]
zim_ind_3[0] = zim_ind_3[0].drop(rows_to_drop)
zim_ind_3[0] = zim_ind_3[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
zim_ind_3[0]

           BATTING                 Unnamed: 1    R   B  4s 6s      SR
0   Shikhar Dhawan         c Williams b Evans   40  68   5  0   58.82
2     KL Rahul (c)                    b Evans   30  46   1  1   65.21
4     Shubman Gill             c Kaia b Evans  130  97  15  1  134.02
6     Ishan Kishan         run out (Munyonga)   50  61   6  0   81.96
8     Deepak Hooda                    b Evans    1   3   0  0   33.33
10  Sanju Samson †         c Kaitano b Jongwe   15  13   0  2  115.38
12      Axar Patel  c Sikandar Raza b Nyauchi    1   4   0  0   25.00
14  Shardul Thakur          c Nyauchi b Evans    9   6   2  0  150.00
16   Deepak Chahar                    not out    1   1   0  0  100.00
17   Kuldeep Yadav                    not out    2   2   0  0  100.00

In [ ]:
zim_ind_3[3]

In [133]:
rows_to_drop = [1, 3, 5, 7, 10]
zim_ind_3[3] = zim_ind_3[3].drop(rows_to_drop)
zim_ind_3[3]

          BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0   Deepak Chahar   10  0  75  2  7.50  25  7  3  1  0
2      Avesh Khan  9.3  1  66  3  6.94  29  7  2  1  2
4  Shardul Thakur    9  0  55  1  6.11  26  5  0  2  2
6   Kuldeep Yadav   10  0  38  2  3.80  33  1  0  2  0
8    Deepak Hooda    1  0   9  0  9.00   3  2  0  0  0
9      Axar Patel   10  1  30  2  3.00  39  2  0  1  0

####Concat Zim

In [244]:
concat_zim_bat = pd.concat([zim_ind_1[2],zim_ind_2[2],zim_ind_3[0]])
concat_zim_bat

           BATTING                 Unnamed: 1    R    B  4s 6s      SR
0   Shikhar Dhawan                    not out   81  113   9  0   71.68
1     Shubman Gill                    not out   82   72  10  1  113.88
0   Shikhar Dhawan          c Kaia b Chivanga   33   21   4  0  157.14
2     KL Rahul (c)              lbw b Nyauchi    1    5   0  0   20.00
4     Shubman Gill           c Evans b Jongwe   33   34   6  0   97.05
6     Ishan Kishan                   b Jongwe    6   13   0  0   46.15
8     Deepak Hooda            b Sikandar Raza   25   36   3  0   69.44
10  Sanju Samson †                    not out   43   39   3  4  110.25
11      Axar Patel                    not out    6    7   1  0   85.71
0   Shikhar Dhawan         c Williams b Evans   40   68   5  0   58.82
2     KL Rahul (c)                    b Evans   30   46   1  1   65.21
4     Shubman Gill             c Kaia b Evans  130   97  15  1  134.02
6     Ishan Kishan         run out (Munyonga)   50   61   6  0   81.96
8     Deepak Hooda                    b Evans    1    3   0  0   33.33
10  Sanju Samson †         c Kaitano b Jongwe   15   13   0  2  115.38
12      Axar Patel  c Sikandar Raza b Nyauchi    1    4   0  0   25.00
14  Shardul Thakur          c Nyauchi b Evans    9    6   2  0  150.00
16   Deepak Chahar                    not out    1    1   0  0  100.00
17   Kuldeep Yadav                    not out    2    2   0  0  100.00

In [245]:
concat_zim_bowl = pd.concat([zim_ind_1[1],zim_ind_2[1],zim_ind_3[3]])
concat_zim_bowl

            BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0     Deepak Chahar    7  0  27  3  3.85  30  3  0  2  0
2    Mohammed Siraj    8  2  36  1  4.50  35  4  0  2  0
4     Kuldeep Yadav   10  1  36  0  3.60  34  0  1  0  0
5   Prasidh Krishna    8  0  50  3  6.25  27  8  0  1  0
7        Axar Patel  7.3  2  24  3  3.20  34  2  1  0  0
0    Mohammed Siraj    8  2  16  1  2.00  42  0  0  4  0
2   Prasidh Krishna  6.1  1  28  1  4.54  27  1  1  1  0
4    Shardul Thakur    7  0  38  3  5.42  27  5  0  3  0
6        Axar Patel    7  1  20  1  2.85  23  0  0  0  0
8     Kuldeep Yadav    8  0  49  1  6.12  22  5  1  1  0
10     Deepak Hooda    2  0   6  1  3.00   7  0  0  0  0
0     Deepak Chahar   10  0  75  2  7.50  25  7  3  1  0
2        Avesh Khan  9.3  1  66  3  6.94  29  7  2  1  2
4    Shardul Thakur    9  0  55  1  6.11  26  5  0  2  2
6     Kuldeep Yadav   10  0  38  2  3.80  33  1  0  2  0
8      Deepak Hooda    1  0   9  0  9.00   3  2  0  0  0
9        Axar Patel   10  1  30  2  3.00  39  2  0  1  0

#2022 July vs WI

###ODI-1

In [134]:
wi_ind_1 = pd.read_html('https://www.espncricinfo.com/series/india-in-west-indies-2022-1317885/west-indies-vs-india-1st-odi-1317900/full-scorecard')

In [135]:
wi_ind_1[0] = pd.DataFrame(wi_ind_1[0])
wi_ind_1[3] = pd.DataFrame(wi_ind_1[3])

In [136]:
wi_ind_1[0]

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9
0,Shikhar Dhawan (c),c Brooks b Motie,97,99,149,10,3,97.97,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shubman Gill,run out (Pooran),64,53,83,6,2,120.75,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shreyas Iyer,c Pooran b Motie,54,57,76,5,2,94.73,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Suryakumar Yadav,b Hosein,13,14,22,2,0,92.85,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Sanju Samson †,lbw b Shepherd,12,18,31,0,1,66.66,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Deepak Hooda,b Joseph,27,32,53,1,1,84.37,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Axar Patel,b Joseph,21,21,32,1,1,100.00,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Shardul Thakur,not out,7,5,9,1,0,140.00,NaN,NaN
15,Mohammed Siraj,not out,1,2,6,0,0,50.00,NaN,NaN
16,Extras,"(lb 5, nb 1, w 6)",12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,TOTAL,50 Ov (RR: 6.16),308/7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Did not bat: Yuzvendra Chahal, Prasidh Krishna","Did not bat: Yuzvendra Chahal, Prasidh Krishna","Did not bat: Yuzvendra Chahal, Prasidh Krishna","Did not bat: Yuzvendra Chahal, Prasidh Krishna","Did not bat: Yuzvendra Chahal, Prasidh Krishna","Did not bat: Yuzvendra Chahal, Prasidh Krishna","Did not bat: Yuzvendra Chahal, Prasidh Krishna","Did not bat: Yuzvendra Chahal, Prasidh Krishna","Did not bat: Yuzvendra Chahal, Prasidh Krishna",NaN
19,"Fall of wickets: 1-119 (Shubman Gill, 17.4 ov)...","Fall of wickets: 1-119 (Shubman Gill, 17.4 ov)...","Fall of wickets: 1-119 (Shubman Gill, 17.4 ov)...","Fall of wickets: 1-119 (Shubman Gill, 17.4 ov)...","Fall of wickets: 1-119 (Shubman Gill, 17.4 ov)...","Fall of wickets: 1-119 (Shubman Gill, 17.4 ov)...","Fall of wickets: 1-119 (Shubman Gill, 17.4 ov)...","Fall of wickets: 1-119 (Shubman Gill, 17.4 ov)...","Fall of wickets: 1-119 (Shubman Gill, 17.4 ov)...",NaN

In [137]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 16, 17, 18, 19]
wi_ind_1[0] = wi_ind_1[0].drop(rows_to_drop)
wi_ind_1[0] = wi_ind_1[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
wi_ind_1[0]

               BATTING        Unnamed: 1   R   B  4s 6s      SR
0   Shikhar Dhawan (c)  c Brooks b Motie  97  99  10  3   97.97
2         Shubman Gill  run out (Pooran)  64  53   6  2  120.75
4         Shreyas Iyer  c Pooran b Motie  54  57   5  2   94.73
6     Suryakumar Yadav          b Hosein  13  14   2  0   92.85
8       Sanju Samson †    lbw b Shepherd  12  18   0  1   66.66
10        Deepak Hooda          b Joseph  27  32   1  1   84.37
12          Axar Patel          b Joseph  21  21   1  1  100.00
14      Shardul Thakur           not out   7   5   1  0  140.00
15      Mohammed Siraj           not out   1   2   0  0   50.00

In [138]:
wi_ind_1[3]

,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB
0,Mohammed Siraj,10,0,57,2,5.70,31,7,0,3,0
1,"4.5 to SD Hope, Siraj has the last laugh as Ho...","4.5 to SD Hope, Siraj has the last laugh as Ho...","4.5 to SD Hope, Siraj has the last laugh as Ho...","4.5 to SD Hope, Siraj has the last laugh as Ho...","4.5 to SD Hope, Siraj has the last laugh as Ho...","4.5 to SD Hope, Siraj has the last laugh as Ho...","4.5 to SD Hope, Siraj has the last laugh as Ho...","4.5 to SD Hope, Siraj has the last laugh as Ho...","4.5 to SD Hope, Siraj has the last laugh as Ho...","4.5 to SD Hope, Siraj has the last laugh as Ho...","4.5 to SD Hope, Siraj has the last laugh as Ho..."
2,Prasidh Krishna,10,1,62,0,6.20,34,6,3,2,0
3,Shardul Thakur,8,0,54,2,6.75,18,3,1,1,3
4,"23.4 to SSJ Brooks, Catching practice for deep...","23.4 to SSJ Brooks, Catching practice for deep...","23.4 to SSJ Brooks, Catching practice for deep...","23.4 to SSJ Brooks, Catching practice for deep...","23.4 to SSJ Brooks, Catching practice for deep...","23.4 to SSJ Brooks, Catching practice for deep...","23.4 to SSJ Brooks, Catching practice for deep...","23.4 to SSJ Brooks, Catching practice for deep...","23.4 to SSJ Brooks, Catching practice for deep...","23.4 to SSJ Brooks, Catching practice for deep...","23.4 to SSJ Brooks, Catching practice for deep..."
5,Axar Patel,7,0,43,0,6.14,17,3,1,0,0
6,Deepak Hooda,5,0,22,0,4.40,14,1,0,3,0
7,Yuzvendra Chahal,10,0,58,2,5.80,28,3,3,0,0
8,"36.5 to R Powell, Chahal does him, caught at s...","36.5 to R Powell, Chahal does him, caught at s...","36.5 to R Powell, Chahal does him, caught at s...","36.5 to R Powell, Chahal does him, caught at s...","36.5 to R Powell, Chahal does him, caught at s...","36.5 to R Powell, Chahal does him, caught at s...","36.5 to R Powell, Chahal does him, caught at s...","36.5 to R Powell, Chahal does him, caught at s...","36.5 to R Powell, Chahal does him, caught at s...","36.5 to R Powell, Chahal does him, caught at s...","36.5 to R Powell, Chahal does him, caught at s..."

In [139]:
rows_to_drop = [1, 4, 8]
wi_ind_1[3] = wi_ind_1[3].drop(rows_to_drop)
wi_ind_1[3]

            BOWLING   O  M   R  W  ECON  0s 4s 6s WD NB
0    Mohammed Siraj  10  0  57  2  5.70  31  7  0  3  0
2   Prasidh Krishna  10  1  62  0  6.20  34  6  3  2  0
3    Shardul Thakur   8  0  54  2  6.75  18  3  1  1  3
5        Axar Patel   7  0  43  0  6.14  17  3  1  0  0
6      Deepak Hooda   5  0  22  0  4.40  14  1  0  3  0
7  Yuzvendra Chahal  10  0  58  2  5.80  28  3  3  0  0

###ODI-2

In [140]:
wi_ind_2 = pd.read_html('https://www.espncricinfo.com/series/india-in-west-indies-2022-1317885/west-indies-vs-india-2nd-odi-1317901/full-scorecard')

In [141]:
wi_ind_2[1] = pd.DataFrame(wi_ind_2[1])
wi_ind_2[2] = pd.DataFrame(wi_ind_2[2])

In [142]:
wi_ind_2[1]

,BOWLING,O,M,R,W,ECON,0s,4s,6s,WD,NB
0,Mohammed Siraj,10,1,46,0,4.60,36,4,1,2,0
1,Avesh Khan,6,0,54,0,9.00,13,8,1,0,0
2,Shardul Thakur,7,0,54,3,7.71,16,3,2,3,1
3,"43.4 to N Pooran, Pooran tries it again, gets ...","43.4 to N Pooran, Pooran tries it again, gets ...","43.4 to N Pooran, Pooran tries it again, gets ...","43.4 to N Pooran, Pooran tries it again, gets ...","43.4 to N Pooran, Pooran tries it again, gets ...","43.4 to N Pooran, Pooran tries it again, gets ...","43.4 to N Pooran, Pooran tries it again, gets ...","43.4 to N Pooran, Pooran tries it again, gets ...","43.4 to N Pooran, Pooran tries it again, gets ...","43.4 to N Pooran, Pooran tries it again, gets ...","43.4 to N Pooran, Pooran tries it again, gets ..."
4,Deepak Hooda,9,0,42,1,4.66,27,3,1,0,0
5,"9.1 to KR Mayers, chipped back first ball, and...","9.1 to KR Mayers, chipped back first ball, and...","9.1 to KR Mayers, chipped back first ball, and...","9.1 to KR Mayers, chipped back first ball, and...","9.1 to KR Mayers, chipped back first ball, and...","9.1 to KR Mayers, chipped back first ball, and...","9.1 to KR Mayers, chipped back first ball, and...","9.1 to KR Mayers, chipped back first ball, and...","9.1 to KR Mayers, chipped back first ball, and...","9.1 to KR Mayers, chipped back first ball, and...","9.1 to KR Mayers, chipped back first ball, and..."
6,Axar Patel,9,1,40,1,4.44,30,3,1,0,0
7,"21.3 to SSJ Brooks, good catch at slip, and a ...","21.3 to SSJ Brooks, good catch at slip, and a ...","21.3 to SSJ Brooks, good catch at slip, and a ...","21.3 to SSJ Brooks, good catch at slip, and a ...","21.3 to SSJ Brooks, good catch at slip, and a ...","21.3 to SSJ Brooks, good catch at slip, and a ...","21.3 to SSJ Brooks, good catch at slip, and a ...","21.3 to SSJ Brooks, good catch at slip, and a ...","21.3 to SSJ Brooks, good catch at slip, and a ...","21.3 to SSJ Brooks, good catch at slip, and a ...","21.3 to SSJ Brooks, good catch at slip, and a ..."
8,Yuzvendra Chahal,9,0,69,1,7.66,25,2,6,1,0
9,"22.5 to BA King, gifted away to Chahal and Ind...","22.5 to BA King, gifted away to Chahal and Ind...","22.5 to BA King, gifted away to Chahal and Ind...","22.5 to BA King, gifted away to Chahal and Ind...","22.5 to BA King, gifted away to Chahal and Ind...","22.5 to BA King, gifted away to Chahal and Ind...","22.5 to BA King, gifted away to Chahal and Ind...","22.5 to BA King, gifted away to Chahal and Ind...","22.5 to BA King, gifted away to Chahal and Ind...","22.5 to BA King, gifted away to Chahal and Ind...","22.5 to BA King, gifted away to Chahal and Ind..."

In [143]:
rows_to_drop = [3, 5, 7, 9]
wi_ind_2[1] = wi_ind_2[1].drop(rows_to_drop)
wi_ind_2[1]

            BOWLING   O  M   R  W  ECON  0s 4s 6s WD NB
0    Mohammed Siraj  10  1  46  0  4.60  36  4  1  2  0
1        Avesh Khan   6  0  54  0  9.00  13  8  1  0  0
2    Shardul Thakur   7  0  54  3  7.71  16  3  2  3  1
4      Deepak Hooda   9  0  42  1  4.66  27  3  1  0  0
6        Axar Patel   9  1  40  1  4.44  30  3  1  0  0
8  Yuzvendra Chahal   9  0  69  1  7.66  25  2  6  1  0

In [144]:
wi_ind_2[2]

,BATTING,Unnamed: 1,R,B,M,4s,6s,SR,Unnamed: 8,Unnamed: 9
0,Shikhar Dhawan (c),c Mayers b Shepherd,13,31,52,0,0,41.93,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Shubman Gill,c & b Mayers,43,49,70,5,0,87.75,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shreyas Iyer,lbw b Joseph,63,71,98,4,1,88.73,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Suryakumar Yadav,b Mayers,9,8,10,0,1,112.50,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Sanju Samson †,run out (Mayers/Shepherd),54,51,102,3,3,105.88,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Deepak Hooda,c Walsh b Hosein,33,36,61,2,0,91.66,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Axar Patel,not out,64,35,66,3,5,182.85,NaN,NaN
13,Shardul Thakur,c Brooks b Joseph,3,6,12,0,0,50.00,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Avesh Khan,c Brooks b Seales,10,12,19,2,0,83.33,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Mohammed Siraj,not out,1,1,5,0,0,100.00,NaN,NaN
18,Extras,"(b 6, lb 7, nb 2, w 4)",19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,TOTAL,49.4 Ov (RR: 6.28),312/8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,Did not bat: Yuzvendra Chahal,NaN
21,"Fall of wickets: 1-48 (Shikhar Dhawan, 10.6 ov...","Fall of wickets: 1-48 (Shikhar Dhawan, 10.6 ov...","Fall of wickets: 1-48 (Shikhar Dhawan, 10.6 ov...","Fall of wickets: 1-48 (Shikhar Dhawan, 10.6 ov...","Fall of wickets: 1-48 (Shikhar Dhawan, 10.6 ov...","Fall of wickets: 1-48 (Shikhar Dhawan, 10.6 ov...","Fall of wickets: 1-48 (Shikhar Dhawan, 10.6 ov...","Fall of wickets: 1-48 (Shikhar Dhawan, 10.6 ov...","Fall of wickets: 1-48 (Shikhar Dhawan, 10.6 ov...",NaN

In [145]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 14, 16, 18, 19, 20, 21]
wi_ind_2[2] = wi_ind_2[2].drop(rows_to_drop)
wi_ind_2[2] = wi_ind_2[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
wi_ind_2[2]

               BATTING                 Unnamed: 1   R   B 4s 6s      SR
0   Shikhar Dhawan (c)        c Mayers b Shepherd  13  31  0  0   41.93
2         Shubman Gill               c & b Mayers  43  49  5  0   87.75
4         Shreyas Iyer               lbw b Joseph  63  71  4  1   88.73
6     Suryakumar Yadav                   b Mayers   9   8  0  1  112.50
8       Sanju Samson †  run out (Mayers/Shepherd)  54  51  3  3  105.88
10        Deepak Hooda           c Walsh b Hosein  33  36  2  0   91.66
12          Axar Patel                    not out  64  35  3  5  182.85
13      Shardul Thakur          c Brooks b Joseph   3   6  0  0   50.00
15          Avesh Khan          c Brooks b Seales  10  12  2  0   83.33
17      Mohammed Siraj                    not out   1   1  0  0  100.00

###ODI-3

In [146]:
wi_ind_3 = pd.read_html('https://www.espncricinfo.com/series/india-in-west-indies-2022-1317885/west-indies-vs-india-3rd-odi-1317902/full-scorecard')

In [147]:
wi_ind_3[0] = pd.DataFrame(wi_ind_3[0])
wi_ind_3[3] = pd.DataFrame(wi_ind_3[3])

In [ ]:
wi_ind_3[0]

In [149]:
rows_to_drop = [1, 4, 6, 8, 9, 10, 11]
wi_ind_3[0] = wi_ind_3[0].drop(rows_to_drop)
wi_ind_3[0] = wi_ind_3[0].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
wi_ind_3[0]

              BATTING        Unnamed: 1   R   B 4s 6s      SR
0  Shikhar Dhawan (c)  c Pooran b Walsh  58  74  7  0   78.37
2        Shubman Gill           not out  98  98  7  2  100.00
3        Shreyas Iyer   c Paul b Hosein  44  34  4  1  129.41
5    Suryakumar Yadav  c Brooks b Walsh   8   6  1  0  133.33
7      Sanju Samson †           not out   6   7  0  0   85.71

In [ ]:
wi_ind_3[3]

In [151]:
rows_to_drop = [2, 4, 6, 8, 10]
wi_ind_3[3] = wi_ind_3[3].drop(rows_to_drop)
wi_ind_3[3]

            BOWLING  O  M   R  W  ECON  0s 4s 6s WD NB
0      Deepak Hooda  4  1  16  0  4.00  16  1  1  0  0
1    Mohammed Siraj  3  0  14  2  4.66  12  0  1  0  0
3        Axar Patel  6  0  38  1  6.33  15  4  1  0  0
5   Prasidh Krishna  4  0  30  1  7.50  10  5  0  1  0
7  Yuzvendra Chahal  4  0  17  4  4.25  11  1  0  0  0
9    Shardul Thakur  5  0  17  2  3.40  18  1  0  0  0

####Concat WIndies

In [246]:
concat_win_bat = pd.concat([wi_ind_1[0],wi_ind_2[2],wi_ind_3[0]])
concat_win_bat

               BATTING                 Unnamed: 1   R   B  4s 6s      SR
0   Shikhar Dhawan (c)           c Brooks b Motie  97  99  10  3   97.97
2         Shubman Gill           run out (Pooran)  64  53   6  2  120.75
4         Shreyas Iyer           c Pooran b Motie  54  57   5  2   94.73
6     Suryakumar Yadav                   b Hosein  13  14   2  0   92.85
8       Sanju Samson †             lbw b Shepherd  12  18   0  1   66.66
10        Deepak Hooda                   b Joseph  27  32   1  1   84.37
12          Axar Patel                   b Joseph  21  21   1  1  100.00
14      Shardul Thakur                    not out   7   5   1  0  140.00
15      Mohammed Siraj                    not out   1   2   0  0   50.00
0   Shikhar Dhawan (c)        c Mayers b Shepherd  13  31   0  0   41.93
2         Shubman Gill               c & b Mayers  43  49   5  0   87.75
4         Shreyas Iyer               lbw b Joseph  63  71   4  1   88.73
6     Suryakumar Yadav                   b Mayers   9   8   0  1  112.50
8       Sanju Samson †  run out (Mayers/Shepherd)  54  51   3  3  105.88
10        Deepak Hooda           c Walsh b Hosein  33  36   2  0   91.66
12          Axar Patel                    not out  64  35   3  5  182.85
13      Shardul Thakur          c Brooks b Joseph   3   6   0  0   50.00
15          Avesh Khan          c Brooks b Seales  10  12   2  0   83.33
17      Mohammed Siraj                    not out   1   1   0  0  100.00
0   Shikhar Dhawan (c)           c Pooran b Walsh  58  74   7  0   78.37
2         Shubman Gill                    not out  98  98   7  2  100.00
3         Shreyas Iyer            c Paul b Hosein  44  34   4  1  129.41
5     Suryakumar Yadav           c Brooks b Walsh   8   6   1  0  133.33
7       Sanju Samson †                    not out   6   7   0  0   85.71

In [247]:
concat_win_bowl =  pd.concat([wi_ind_1[3],wi_ind_2[1],wi_ind_3[3]])
concat_win_bowl

            BOWLING   O  M   R  W  ECON  0s 4s 6s WD NB
0    Mohammed Siraj  10  0  57  2  5.70  31  7  0  3  0
2   Prasidh Krishna  10  1  62  0  6.20  34  6  3  2  0
3    Shardul Thakur   8  0  54  2  6.75  18  3  1  1  3
5        Axar Patel   7  0  43  0  6.14  17  3  1  0  0
6      Deepak Hooda   5  0  22  0  4.40  14  1  0  3  0
7  Yuzvendra Chahal  10  0  58  2  5.80  28  3  3  0  0
0    Mohammed Siraj  10  1  46  0  4.60  36  4  1  2  0
1        Avesh Khan   6  0  54  0  9.00  13  8  1  0  0
2    Shardul Thakur   7  0  54  3  7.71  16  3  2  3  1
4      Deepak Hooda   9  0  42  1  4.66  27  3  1  0  0
6        Axar Patel   9  1  40  1  4.44  30  3  1  0  0
8  Yuzvendra Chahal   9  0  69  1  7.66  25  2  6  1  0
0      Deepak Hooda   4  1  16  0  4.00  16  1  1  0  0
1    Mohammed Siraj   3  0  14  2  4.66  12  0  1  0  0
3        Axar Patel   6  0  38  1  6.33  15  4  1  0  0
5   Prasidh Krishna   4  0  30  1  7.50  10  5  0  1  0
7  Yuzvendra Chahal   4  0  17  4  4.25  11  1  0  0  0
9    Shardul Thakur   5  0  17  2  3.40  18  1  0  0  0

#2022 July vs Eng

###ODI-1

In [152]:
eng_ind_1 = pd.read_html('https://www.espncricinfo.com/series/india-in-england-2022-1276893/england-vs-india-1st-odi-1276907/full-scorecard')

In [153]:
eng_ind_1[1] = pd.DataFrame(eng_ind_1[1])
eng_ind_1[2] = pd.DataFrame(eng_ind_1[2])

In [ ]:
eng_ind_1[1]

In [155]:
rows_to_drop = [1, 3, 6]
eng_ind_1[1] = eng_ind_1[1].drop(rows_to_drop)
eng_ind_1[1]

            BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0    Mohammed Shami    7  0  31  3  4.42  29  5  0  1  0
2    Jasprit Bumrah  7.2  3  19  6  2.59  38  2  0  2  0
4     Hardik Pandya    4  0  22  0  5.50  13  3  0  0  0
5   Prasidh Krishna    5  0  26  1  5.20  22  6  0  0  0
7  Yuzvendra Chahal    2  0  10  0  5.00   7  0  1  0  0

In [ ]:
eng_ind_1[2]

In [157]:
rows_to_drop = [2, 3, 4]
eng_ind_1[2] = eng_ind_1[2].drop(rows_to_drop)
eng_ind_1[2] = eng_ind_1[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
eng_ind_1[2]

            BATTING Unnamed: 1   R   B 4s 6s      SR
0  Rohit Sharma (c)    not out  76  58  7  5  131.03
1    Shikhar Dhawan    not out  31  54  4  0   57.40

###ODI-2

In [158]:
eng_ind_2 = pd.read_html('https://www.espncricinfo.com/series/india-in-england-2022-1276893/england-vs-india-2nd-odi-1276908/full-scorecard')

In [159]:
eng_ind_1[1] = pd.DataFrame(eng_ind_1[1])
eng_ind_1[2] = pd.DataFrame(eng_ind_1[2])

In [ ]:
eng_ind_2[1]

In [161]:
rows_to_drop = [1, 3, 5, 7, 9]
eng_ind_2[1] = eng_ind_2[1].drop(rows_to_drop)
eng_ind_2[1]

             BOWLING   O  M   R  W  ECON  0s 4s 6s WD NB
0     Mohammed Shami  10  0  48  1  4.80  39  4  1  3  0
2     Jasprit Bumrah  10  1  49  2  4.90  39  4  2  0  1
4      Hardik Pandya   6  0  28  2  4.66  20  1  1  3  0
6    Prasidh Krishna   8  0  53  1  6.62  23  4  2  1  0
8   Yuzvendra Chahal  10  0  47  4  4.70  33  4  1  1  0
10   Ravindra Jadeja   5  0  17  0  3.40  15  0  0  0  0

In [ ]:
eng_ind_2[2]

In [163]:
rows_to_drop = [1, 3, 5, 7, 9, 11, 13, 15, 18, 20, 21, 22, 23]
eng_ind_2[2] = eng_ind_2[2].drop(rows_to_drop)
eng_ind_2[2] = eng_ind_2[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
eng_ind_2[2]

             BATTING               Unnamed: 1   R   B 4s 6s     SR
0   Rohit Sharma (c)             lbw b Topley   0  10  0  0   0.00
2     Shikhar Dhawan      c †Buttler b Topley   9  26  1  0  34.61
4        Virat Kohli      c †Buttler b Willey  16  25  3  0  64.00
6     Rishabh Pant †  c sub (PD Salt) b Carse   0   5  0  0   0.00
8   Suryakumar Yadav                 b Topley  27  29  1  1  93.10
10     Hardik Pandya      c Livingstone b Ali  29  44  2  0  65.90
12   Ravindra Jadeja            b Livingstone  29  44  1  1  65.90
14    Mohammed Shami        c Stokes b Topley  23  28  2  1  82.14
16    Jasprit Bumrah                  not out   2   6  0  0  33.33
17  Yuzvendra Chahal                 b Topley   3  13  0  0  23.07
19   Prasidh Krishna      c †Buttler b Topley   0   3  0  0   0.00

###ODI-3

In [164]:
eng_ind_3 = pd.read_html('https://www.espncricinfo.com/series/india-in-england-2022-1276893/england-vs-india-3rd-odi-1276909/full-scorecard')

In [165]:
eng_ind_3[1] = pd.DataFrame(eng_ind_3[1])
eng_ind_3[2] = pd.DataFrame(eng_ind_3[2])

In [ ]:
eng_ind_3[1]

In [167]:
rows_to_drop = [2, 5, 7, 9]
eng_ind_3[1] = eng_ind_3[1].drop(rows_to_drop)
eng_ind_3[1]

            BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0    Mohammed Shami    7  0  38  0  5.42  24  6  0  0  0
1    Mohammed Siraj    9  1  66  2  7.33  29  7  1  5  0
3   Prasidh Krishna    9  0  48  0  5.33  31  5  1  2  1
4     Hardik Pandya    7  3  24  4  3.42  33  0  2  0  0
6  Yuzvendra Chahal  9.5  0  60  3  6.10  25  0  4  2  0
8   Ravindra Jadeja    4  0  21  1  5.25  11  2  0  0  1

In [ ]:
eng_ind_3[2]

In [169]:
rows_to_drop = [1, 3, 5, 8, 10, 12, 13, 14, 15]
eng_ind_3[2] = eng_ind_3[2].drop(rows_to_drop)
eng_ind_3[2] = eng_ind_3[2].drop(["Unnamed: 8", "Unnamed: 9","M"], axis=1)
eng_ind_3[2]

             BATTING            Unnamed: 1    R    B  4s 6s      SR
0   Rohit Sharma (c)       c Root b Topley   17   17   4  0  100.00
2     Shikhar Dhawan        c Roy b Topley    1    3   0  0   33.33
4        Virat Kohli   c †Buttler b Topley   17   22   3  0   77.27
6     Rishabh Pant †               not out  125  113  16  2  110.61
7   Suryakumar Yadav  c †Buttler b Overton   16   28   1  0   57.14
9      Hardik Pandya      c Stokes b Carse   71   55  10  0  129.09
11   Ravindra Jadeja               not out    7   15   0  0   46.66

####Concat Eng

In [248]:
concat_eng_bat = pd.concat([eng_ind_1[2],eng_ind_2[2],eng_ind_3[2]])
concat_eng_bat

             BATTING               Unnamed: 1    R    B  4s 6s      SR
0   Rohit Sharma (c)                  not out   76   58   7  5  131.03
1     Shikhar Dhawan                  not out   31   54   4  0   57.40
0   Rohit Sharma (c)             lbw b Topley    0   10   0  0    0.00
2     Shikhar Dhawan      c †Buttler b Topley    9   26   1  0   34.61
4        Virat Kohli      c †Buttler b Willey   16   25   3  0   64.00
6     Rishabh Pant †  c sub (PD Salt) b Carse    0    5   0  0    0.00
8   Suryakumar Yadav                 b Topley   27   29   1  1   93.10
10     Hardik Pandya      c Livingstone b Ali   29   44   2  0   65.90
12   Ravindra Jadeja            b Livingstone   29   44   1  1   65.90
14    Mohammed Shami        c Stokes b Topley   23   28   2  1   82.14
16    Jasprit Bumrah                  not out    2    6   0  0   33.33
17  Yuzvendra Chahal                 b Topley    3   13   0  0   23.07
19   Prasidh Krishna      c †Buttler b Topley    0    3   0  0    0.00
0   Rohit Sharma (c)          c Root b Topley   17   17   4  0  100.00
2     Shikhar Dhawan           c Roy b Topley    1    3   0  0   33.33
4        Virat Kohli      c †Buttler b Topley   17   22   3  0   77.27
6     Rishabh Pant †                  not out  125  113  16  2  110.61
7   Suryakumar Yadav     c †Buttler b Overton   16   28   1  0   57.14
9      Hardik Pandya         c Stokes b Carse   71   55  10  0  129.09
11   Ravindra Jadeja                  not out    7   15   0  0   46.66

In [249]:
concat_eng_bowl = pd.concat([eng_ind_1[1],eng_ind_2[1],eng_ind_3[1]])
concat_eng_bowl

             BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0     Mohammed Shami    7  0  31  3  4.42  29  5  0  1  0
2     Jasprit Bumrah  7.2  3  19  6  2.59  38  2  0  2  0
4      Hardik Pandya    4  0  22  0  5.50  13  3  0  0  0
5    Prasidh Krishna    5  0  26  1  5.20  22  6  0  0  0
7   Yuzvendra Chahal    2  0  10  0  5.00   7  0  1  0  0
0     Mohammed Shami   10  0  48  1  4.80  39  4  1  3  0
2     Jasprit Bumrah   10  1  49  2  4.90  39  4  2  0  1
4      Hardik Pandya    6  0  28  2  4.66  20  1  1  3  0
6    Prasidh Krishna    8  0  53  1  6.62  23  4  2  1  0
8   Yuzvendra Chahal   10  0  47  4  4.70  33  4  1  1  0
10   Ravindra Jadeja    5  0  17  0  3.40  15  0  0  0  0
0     Mohammed Shami    7  0  38  0  5.42  24  6  0  0  0
1     Mohammed Siraj    9  1  66  2  7.33  29  7  1  5  0
3    Prasidh Krishna    9  0  48  0  5.33  31  5  1  2  1
4      Hardik Pandya    7  3  24  4  3.42  33  0  2  0  0
6   Yuzvendra Chahal  9.5  0  60  3  6.10  25  0  4  2  0
8    Ravindra Jadeja    4  0  21  1  5.25  11  2  0  0  1

#Final Concat

In [314]:
concat_india_bat = pd.concat([concat_wi_bat, concat_aus_bat, concat_sl_bat, concat_nz_bat, concat_ban_bat, concat_sa_bat, concat_zim_bat, concat_win_bat, concat_eng_bat])

In [315]:
concat_india_bat

             BATTING            Unnamed: 1    R    B  4s 6s      SR
0     Ishan Kishan †      c Powell b Motie   52   46   7  1  113.04
2       Shubman Gill       c King b Seales    7   16   1  0   43.75
4   Suryakumar Yadav           lbw b Motie   19   25   3  1   76.00
6      Hardik Pandya      run out (Cariah)    5    7   0  0   71.42
8    Ravindra Jadeja               not out   16   21   1  0   76.19
..               ...                   ...  ...  ...  .. ..     ...
4        Virat Kohli   c †Buttler b Topley   17   22   3  0   77.27
6     Rishabh Pant †               not out  125  113  16  2  110.61
7   Suryakumar Yadav  c †Buttler b Overton   16   28   1  0   57.14
9      Hardik Pandya      c Stokes b Carse   71   55  10  0  129.09
11   Ravindra Jadeja               not out    7   15   0  0   46.66

[217 rows x 7 columns]

In [316]:
concat_india_bowl = pd.concat([concat_wi_bowl, concat_aus_bowl, concat_sl_bowl, concat_nz_bowl, concat_ban_bowl, concat_nzl_bowl, concat_sa_bowl, concat_zim_bowl, concat_win_bowl, concat_eng_bowl])
concat_india_bowl

             BOWLING    O  M   R  W  ECON  0s 4s 6s WD NB
0      Hardik Pandya    3  0  17  1  5.66  13  2  1  0  0
2       Mukesh Kumar    5  1  22  1  4.40  21  3  0  2  0
4     Shardul Thakur    3  1  14  1  4.66  11  2  0  1  0
6    Ravindra Jadeja    6  0  37  3  6.16  18  2  1  2  2
8        Umran Malik    3  0  17  0  5.66  10  3  0  0  0
..               ...  ... ..  .. ..   ...  .. .. .. .. ..
1     Mohammed Siraj    9  1  66  2  7.33  29  7  1  5  0
3    Prasidh Krishna    9  0  48  0  5.33  31  5  1  2  1
4      Hardik Pandya    7  3  24  4  3.42  33  0  2  0  0
6   Yuzvendra Chahal  9.5  0  60  3  6.10  25  0  4  2  0
8    Ravindra Jadeja    4  0  21  1  5.25  11  2  0  0  1

[162 rows x 11 columns]

In [317]:
concat_india_bowl.to_csv('concat_india_bowl.csv', index=False)

In [318]:
concat_india_bat.to_csv('concat_india_bat.csv', index=False)